.kss_heart{
    position: absolute;
    font-size: 30px;
    right: 10px;
    top: 10px;
    color: #fff;
    text-shadow: 0 0 2px $gray-600;
    cursor:pointer;
    display:block;
    @media (min-width: 320px) and (max-width: 767.98px) {
    	font-size:25px;
    }
}
.animated-heart{
  color:red;
}