.text-gray {
    color: $gray-700;
}
.text-danger {
    color: red !important;
}
.br-0 {
    border: 0px;
}
.kss_icon {
    background: url(../img/sprite.png)no-repeat;
    width: 30px;
    height: 33px;
    background-size: 295px;
    display: inline-block;
    margin-bottom: -4px;
}
.kss_sort li {
    border-bottom: 1px solid #f2f2f2;
}
.popularity {
    background-position: -24px -10px;
}
.latest {
    background-position: -71px -10px;
}
.discount {
    background-position: -121px -10px;
}
.price-h {
    background-position: -180px -10px;
}
.price-l {
    background-position: -240px -10px;
}
.center {
    img {
        width: 100%;
    }
}
.fade-on {
    opacity: 0;
}