.text-gray {
    color: $gray-700;
}
.text-danger {
    color: red !important;
}
.text-danger-dark{
    color:$danger;
}
.text-small{
    font-size: 6px;
    color: #ccc;
}

.kss_highlight{
    cursor:pointer;
}
.kss-link{
    color: theme-color("secondary");
    font-size: 0.8rem;
    margin-bottom: 15px;
    text-decoration:none !important;
}
.br-0 {
    border: 0px;
    background: none !important;
}
.br-1 {
    border: 1px solid #ccc !important;
    background: none !important;
}
.dashed{
        border-style: dashed;
}
.kss_icon {
    background: url(../img/sprite.png)no-repeat;
    width: 30px;
    height: 33px;
    background-size: 295px;
    display: inline-block;
    margin-bottom: -4px;
}
.kss_disable {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.kss_sort li {
    border-bottom: 1px solid #f2f2f2;
}
.popularity {
    background-position: -24px -10px;
}
.latest {
    background-position: -71px -10px;
}
.discount {
    background-position: -121px -10px;
}
.price-h {
    background-position: -180px -10px;
}
.price-l {
    background-position: -240px -10px;
}
.center {
    img {
        width: 100%;
    }
}
.fade-on {
    opacity: 0;
}
.cursor-pointer {
    cursor: pointer;
}

.go-top{
        position: fixed;
        cursor:pointer;
        bottom: 2em;
        right: 2em;
        text-decoration: none;
        text-align:center;
        font-size: 12px;
        display:none;
        padding: 1em;
           @media (min-width: 320px) and (max-width: 767.98px) {
           bottom: 5em;
           right: 0em;
           }
}