a{
    text-decoration:none !important;
}
.text-gray {
    color: $gray-700;
}
.btn{
    position: relative;
}
.text-danger {
    color: red !important;
}
.border-gray{
    border-color: #c3c3c3!important;
}
.text-danger-dark {
    color: $danger;
}
footer .bl-1{
  border-color:#ccc;  
}
.text-small {
    font-size: 6px;
    color: #ccc;
}
.bg-black{
    background:#000;
}

.kss_highlight {
    cursor: pointer;
}
.kss-link {
    color: theme-color("secondary");
    font-size: 0.8rem;
    margin-bottom: 15px;
    text-decoration: none !important;
}
.r-0{
    right: 10px;
}
.br-0 {
    border: 0px;
    background: none !important;
}
.br-1 {
    border: 1px solid #ccc !important;
    background: none !important;
}
.bl-1 {
    border-left: 1px solid #e8eae8;
}
.dashed {
    border-style: dashed;
}
.kss_icon {
    background: url(../img/sprite.png)no-repeat;
    width: 30px;
    height: 33px;
    display: inline-block;
    margin-bottom: -4px;
}
.kss-ico{
      background: url(../img/sprite.png)no-repeat;
}
.icon-truck-sm{
    @extend .kss-ico;
    width: 20px;
    height: 20px;
    background-position: 3px -209px;
    display: inline-block;
}
.icon-master-card{
    @extend .kss-ico;
    width: 36px;
    height: 24px;
    background-position: -11px -457px;
    display: inline-block;
}
.icon-cod{
    @extend .kss-ico;
    width: 60px;
    height: 63px;
    background-position: -403px -209px;
    display: inline-block;
}
.icon-return{
    @extend .kss-ico;
    width: 60px;
    height: 63px;
    background-position: -403px -409px;
    display: inline-block;
}
.icon-shipping{
    @extend .kss-ico;
    width: 60px;
    height: 63px;
    background-position: -403px -309px;
    display: inline-block;
}
.kss_disable {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.kss_sort li {
    border-bottom: 1px solid #f2f2f2;
}
.popularity {
    background-position: -24px -10px;
    background-size: 295px;
}
.latest {
    background-position: -71px -10px;
    background-size: 295px;
}
.discount {
    background-position: -121px -10px;
    background-size: 295px;
}
.search-icon {
    background-position: -6px -138px;
}
.heart-icon {
    background-position: -43px -138px;
}
.profile-icon {
    background-position: -107px -138px
}
.bag-icon {
    background-position: -81px -138px;
}
.price-h {
    background-position: -180px -10px;
    background-size: 295px;
}
.k-icon{
    background: url(../img/sprite.png) no-repeat;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 10px;
    bottom: 15px;
}
.candy-1{
        background-position: -16px -210px;
}
.candy-2{
        background-position: -87px -210px;
}
.candy-3{
        background-position: -155px -214px;
}
.candy-4{
        background-position: -225px -214px;
}
.top-icon {
    background: url(../img/sprite.png)no-repeat;
    width: 50px;
    height: 50px;
    background-position: -223px -119px;
}
.price-l {
    background-position: -240px -10px;
    background-size: 295px;
}
.center {
    img {
        width: 100%;
    }
}
.fade-on {
    opacity: 0;
}
.cursor-pointer {
    cursor: pointer;
}
.go-top {
    position: fixed;
    cursor: pointer;
    bottom: 2em;
    right: 2em;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    display: none;
    padding: 1em;
    @media (min-width: 320px) and (max-width: 767.98px) {
        bottom: 5em;
        right: 0em;
        display: none !important;
    }
}

 @media (min-width: 320px) and (max-width: 767.98px) {
    .overflow-m{
        overflow-x:scroll;
    }
}

.sticky-menu{
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 54px;
        background: #fff;
        box-shadow: 2px 2px 2px #5a5656;
        padding: 12px;
        z-index: 999;

}

