body{
	font-family: 'Open Sans', sans-serif;
}

label{
	font-size: 0.95rem;
	font-weight: 600;
	 @media (max-width: 575.98px) {
		font-size: .8rem;
	   }
}

.kss-title{
	font-size: 1.55rem;
	   @media (max-width: 575.98px) {
		font-size: .9rem;
		width:80%;
	   }
}
.fade-on{
	opacity:0;
}
// Price
.kss-price{
	font-size: 1.6rem;
	font-weight: bold;
	 @media (max-width: 575.98px) {
		font-size: 1.4rem;
	   }
}
.kss-original-price{
	font-size: 80%;
	text-decoration: line-through;
	font-weight: normal;
	margin-left: 5px;
	margin-right: 5px;
}
.kss-discount{
	font-size: 80%;
	font-weight: normal;
}

.slick-initialized .slick-slide img{
	visibility: visible;
}
@media (min-width: 320px) and (max-width: 767.98px) {
.center {
 background: #ffffff url(../img/ajax-loader.gif) center center no-repeat;
    height: 350px;
    overflow: overlay;
img{
	 visibility: hidden;
}

& > .generic-item-wrap-class {
    visibility: hidden;
}

&.slick-initialized {
    background: none;
    height: auto;
    overflow: auto;

    & > .generic-item-wrap-class {
        visibility: visible;
    }
}
}
}