body {
    font-family: 'Open Sans', sans-serif;
}
label {
    font-size: 0.95rem;
    font-weight: 600;
    @media (max-width: 575.98px) {
        font-size: .8rem;
    }
}
.kss-title {
    font-size: 1.55rem;
    @media (max-width: 575.98px) {
        font-size: .9rem;
        width: 80%;
    }
}

// Price
.kss-price {
    font-size: 1.6rem;
    font-weight: bold;
    @media (max-width: 575.98px) {
        font-size: 1.4rem;
    }
}
.kss-original-price {
    font-size: 80%;
    text-decoration: line-through;
    font-weight: normal;
    margin-left: 5px;
    margin-right: 5px;
}
.kss-discount {
    font-size: 80%;
    font-weight: normal;
}

.seperator{
    height:50px;
}

.kss_text-link{
    color:#000;
    border-bottom:1px solid #F9BC22;
    text-decoration:none !important;
}