.kss_heart{
    position: absolute;
    font-size: 30px;
    right: 10px;
    top: 10px;
    color: #fff;
    text-shadow: 1px 1px 2px #797878;
    cursor:pointer;
    display:block;
}
.animated-heart{
  color:red;
}