.header{
	background-color: theme-color("dark");
	a{
		color: white;
	}
}
.navbar-toggler{
	padding: 0.15rem 0.45rem;
}
.navbar-brand{
	filter: brightness(0) invert(1);
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
	width: 22px;
	height: 2px;
	background-color: #ffffff;
}
.hamburger-inner::before {
    top: -7px;
}
.hamburger--collapse .hamburger-inner::after{
	top: -14px;
}
.hamburger-box{
	width: 22px;
	height: 18px;
}

.mm-slideout{
	z-index: initial;
}

@media (min-width: 360px) and (max-width: 767.98px) {
.kss-logo{
	position: absolute;
    left: 40px;
    top: 24px;
}
}

