.radio-rounded{
    label{
    min-width: 100px;
    min-height: 100px;
    line-height: 95px;
    border-radius: 100%;
    text-align: center;
    padding: 0px !important;
    border: 2px solid #232629;
    background: #fff;
    }
}

.radio-label {
    display: inline-block;
    padding: 1em 2em;
    margin: 0;
    cursor: pointer;
    border: 2px solid $gray-300;
    transition: 0.3s;
    user-select: none;
    h1 {
        font-size: 1em;
    }
    &:hover {
        color: darken(theme-color("primary"), 10%);
    }
    &:active {
        // transform: translateY(2px);
    }
}
.radio-input:checked+.radio-label {
    border-color: theme-color("primary");
    color: darken(theme-color("primary"), 10%);
    &:hover {}
}
.radio-input:disabled+.radio-label {
    background-color: $gray-200;
    // color: $gray-500;
    opacity: 0.4;
    cursor: default;
    &:hover {}
}
.radio-wrap {

    &.w-image {
        .radio-option {
            display: none;
        }
        .radio-label {
            padding: 2em;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    &.wo-image {
        .radio-label {
            min-width: 100px;
            padding: 10px;
            text-align: center;
        }
    }
    @media (min-width: 320px) and (max-width: 767.98px) {
        overflow: scroll;
        div {
           
        }
    }
    label {
        margin: 0px 10px 0 0;
        div {
            text-align: center;
        }
    }
}

.custom-control {
    line-height: 28px;
    margin-bottom: 6px;
    .custom-control-label {
        padding-left: 7px;
    }
}
.custom-control-label::before {
    top: 0.15rem;
    left: -1.5rem;
    display: block;
    width: 1.4rem;
    height: 1.4rem;
}
.custom-control-label::after {
    top: 0.25rem;
    left: -1.5rem;
    width: 1.4rem;
    height: 1.3rem;
    background-size: 59% 100%;
}
.kss_sizes{
    display:block !important;
   @media (min-width: 320px) and (max-width: 767.98px) {

    overflow: hidden;
    overflow-x: scroll;
    display:flex !important;

}
    label{
          display:inline-block;
          margin-bottom: 7px!important;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
 .kss_sizes{
    overflow: hidden;
    overflow-x: scroll;
    display:flex !important;
}
}