.kss_shipping, .kss_payment{
    width:100%;
    background:#fff;
    position:absolute;
    right:-600px;
    transition: all 0.5s ease;
    z-index: 99999;
    height:130vh;
    top: 0px;
    overflow-y: scroll;
     @media (min-width: 320px) and (max-width: 767.98px) {
      height:100vh;
      position:fixed;
    }
    .secure-label{
        line-height:15px;
        font-size:10px;
        i{
            font-size:26px
        }
    }
    .scroll-container{
        overflow:hidden;
        margin-left:-20px;
        margin-right:-20px;
    }
    .list-group{
        label{
            display:flex;
        }
    }
    .fixed-bottom{
        width: 40%;
        right: 0px;
        left: inherit;
         @media (min-width: 360px) and (max-width: 767.98px) {
            width:100%;
         }
    }

}
.slide_to_show{
     right:0px;
}
#cd-cart .modal, #cd-cart .modal-backdrop {
    position: fixed;

}

@media (min-width: 360px) and (max-width: 767.98px) {
    .kss_shipping {
        .navbar{
                position: fixed !important;
                width: 102%;
                z-index: 999;
        }
        .padding-size{
            padding-top:80px !important;
        }
    }
}