{{ define "main" }}
<div class="kss_banner_sm justify-content-center d-flex p-3 p-md-5 text-white bg-dark">
        <div class="align-self-center text-center">
            <h1 class="display-4 bold mt-4 mb-1 banner-title">FAQ</h1>
            <h5 class="text-dark m-0">Hi Amit how can we help you?</h5>
          <!-- <h1 class="display-4 font-italic">Title of a longer featured blog post</h1>
          <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what's most interesting in this post's contents.</p>
          <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p> -->
        </div>
      </div>
<div class="container mt-3">
  <div class="row">
      <div class="col-12">
        <div class="mb-4">
             <nav aria-label="breadcrumb">
                      <ol class="breadcrumb mb-1 bg-transparent p-0">
                          <li class="breadcrumb-item"><a href="#">Home</a></li>
                          <li class="breadcrumb-item" active><a href="#">FAQ</a></li>
                      </ol>
              </nav>
        </div>
      </div>
    </div>
   <div class="row">
      <div class="col-sm-3 col-lg-2 border-right d-none d-md-block">
       <div class="list-group list-group-flush">
  <a id="list-menu" href="#select_shipping" class="list-group-item text-gray py-4">Shipping
      <i class="fas fa-angle-right float-right fa-1x mt-1"></i>
    </a>
   <a id="list-menu" href="#select_returns" class="list-group-item text-gray py-4">Returns & Exchanges
     <i class="fas fa-angle-right float-right fa-1x mt-1"></i>
    </a>
      <a id="list-menu" href="#select_track" class="list-group-item text-gray py-4">Track Orders
     <i class="fas fa-angle-right float-right fa-1x mt-1"></i>
    </a>
  </div>
      </div>
      <div class="col-sm-9 col-lg-10 ">
        <h2 class="font-weight-bold " id="select_shipping">Shipping</h2>
        <div class="accordion product-collapse" id="accordionExample">
          <div class="">
            <div class="collapse-head border-bottom mb-0" id="headingOne">
                <button class="btn btn-link btn-block text-left py-3 px-0 br-0 " type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <label class="mb-0 text-body cursor-pointer">
                   Is my order confirmed?
                  </label>
                </button>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body pb-2 px-0">
                  <p>
                    You will receive an email and an sms on order confirmation. Please contact our helpdesk (mail help@kidsuperstore.com or call 1800-420-1200) if you are unsure.
                  </p>
              </div>
            </div>
          </div>
          <div class="">
            <div class="collapse-head border-bottom mb-0" id="headingTwo">
                <button class="btn btn-link btn-block text-left py-3 px-0 br-0 collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <label class="mb-0 text-body cursor-pointer">
                   When will you ship my order?
                  </label>
                </button>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body pb-2 px-0">
                  <p>
                    We normally ship all orders within 2 business days. Final delivery time will vary based on location.
                  </p>
              </div>
            </div>
          </div>
          <div class="">
            <div class="collapse-head border-bottom mb-0" id="headingThree">
                <button class="btn btn-link btn-block text-left py-3 px-0 br-0 collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <label class="mb-0 text-body cursor-pointer">
                    When will my order get delivered?

                  </label>
              </button>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body pb-2 px-0">
                <p>Transit and delivery time may vary depending on your location and the ordered items. You can check estimated delivery time for your pincode on any product page.</p>

              </div>
            </div>
          </div>
          <div class="">
            <div class="collapse-head border-bottom mb-0" id="headingFour">
                <button class="btn btn-link btn-block text-left py-3 px-0 br-0 collapsed" type="button" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                  <label class="mb-0 text-body cursor-pointer">
                    How much do you charge for delivery?

                  </label>
              </button>
            </div>
            <div id="collapsefour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
              <div class="card-body pb-2 px-0">
                <p>Free shipping on all orders above Rs.995. An additional charge of Rs. 50 will be levied on orders below that.</p>

              </div>
            </div>
          </div>
        </div>
          <h2 id="select_returns" class="font-weight-bold mt-5">Returns & Exchanges</h2>
        <div class="accordion product-collapse" id="accordionExample">
          <div class="">
            <div class="collapse-head border-bottom mb-0" id="headingOne">
                <button class="btn btn-link btn-block text-left py-3 px-0 br-0 collapsed" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                  <label class="mb-0 text-body cursor-pointer">
                   Is my order confirmed?
                  </label>
                </button>
            </div>

            <div id="collapse2" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body pb-2 px-0">
                  <p>
                    You will receive an email and an sms on order confirmation. Please contact our helpdesk (mail help@kidsuperstore.com or call 1800-420-1200) if you are unsure.
                  </p>
              </div>
            </div>
          </div>
          <div class="">
            <div class="collapse-head border-bottom mb-0" id="headingTwo">
                <button class="btn btn-link btn-block text-left py-3 px-0 br-0 collapsed" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                <label class="mb-0 text-body cursor-pointer">
                   When will you ship my order?
                  </label>
                </button>
            </div>
            <div id="collapse3" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body pb-2 px-0">
                  <p>
                    We normally ship all orders within 2 business days. Final delivery time will vary based on location.
                  </p>
              </div>
            </div>
          </div>
          <div class="">
            <div class="collapse-head border-bottom mb-0" id="headingThree">
                <button class="btn btn-link btn-block text-left py-3 px-0 br-0 collapsed" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                  <label class="mb-0 text-body cursor-pointer">
                    When will my order get delivered?

                  </label>
              </button>
            </div>
            <div id="collapse5" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body pb-2 px-0">
                <p>Transit and delivery time may vary depending on your location and the ordered items. You can check estimated delivery time for your pincode on any product page.</p>

              </div>
            </div>
          </div>
          <div class="">
            <div class="collapse-head border-bottom mb-0" id="headingFour">
                <button class="btn btn-link btn-block text-left py-3 px-0 br-0 collapsed" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                  <label class="mb-0 text-body cursor-pointer">
                    How much do you charge for delivery?

                  </label>
              </button>
            </div>
            <div id="collapse4" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
              <div class="card-body pb-2 px-0">
                <p>Free shipping on all orders above Rs.995. An additional charge of Rs. 50 will be levied on orders below that.</p>

              </div>
            </div>
          </div>
        </div>
          <h2 class="font-weight-bold mt-5" id="select_track">Track Orders</h2>
        <div class="accordion product-collapse" id="accordionExample">
          <div class="">
            <div class="collapse-head border-bottom mb-0" id="headingOne">
                <button class="btn btn-link btn-block text-left py-3 px-0 br-0 collapsed" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                  <label class="mb-0 text-body cursor-pointer">
                   Is my order confirmed?
                  </label>
                </button>
            </div>

            <div id="collapse6" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body pb-2 px-0">
                  <p>
                    You will receive an email and an sms on order confirmation. Please contact our helpdesk (mail help@kidsuperstore.com or call 1800-420-1200) if you are unsure.
                  </p>
              </div>
            </div>
          </div>
          <div class="">
            <div class="collapse-head border-bottom mb-0" id="headingTwo">
                <button class="btn btn-link btn-block text-left py-3 px-0 br-0 collapsed" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                <label class="mb-0 text-body cursor-pointer">
                   When will you ship my order?
                  </label>
                </button>
            </div>
            <div id="collapse7" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body pb-2 px-0">
                  <p>
                    We normally ship all orders within 2 business days. Final delivery time will vary based on location.
                  </p>
              </div>
            </div>
          </div>
          <div class="">
            <div class="collapse-head border-bottom mb-0" id="headingThree">
                <button class="btn btn-link btn-block text-left py-3 px-0 br-0 collapsed" type="button" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                  <label class="mb-0 text-body cursor-pointer">
                    When will my order get delivered?

                  </label>
              </button>
            </div>
            <div id="collapse8" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body pb-2 px-0">
                <p>Transit and delivery time may vary depending on your location and the ordered items. You can check estimated delivery time for your pincode on any product page.</p>

              </div>
            </div>
          </div>
          <div class="">
            <div class="collapse-head border-bottom mb-0" id="headingFour">
                <button class="btn btn-link btn-block text-left py-3 px-0 br-0 collapsed" type="button" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                  <label class="mb-0 text-body cursor-pointer">
                    How much do you charge for delivery?

                  </label>
              </button>
            </div>
            <div id="collapse9" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
              <div class="card-body pb-2 px-0">
                <p>Free shipping on all orders above Rs.995. An additional charge of Rs. 50 will be levied on orders below that.</p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}