{{ define "main" }}
<div class="kss_banner justify-content-center d-flex p-3 p-md-5 text-white bg-dark" style="background:url('../img/normal/banner-girl.jpg') no-repeat bottom;">
        <div class="align-self-center text-center">
            <h1 class="display-4 bold mt-4 mb-1 banner-title">Girls Fashion</h1>
            <h5 class="text-dark m-0">Coolest styles of the season</h5>
          <!-- <h1 class="display-4 font-italic">Title of a longer featured blog post</h1>
          <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what's most interesting in this post's contents.</p>
          <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p> -->
        </div>
      </div>
  <section id="kss-age" class="stripe-bg">
    <div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-12 text-center">
          <h2 class="font-weight-bold m-0">Shop By Age</h2>
          <p>Lorem ipsum dolor sit amet</p>
          <div class="sketch-boy"></div>
          <div class="sketch-girl"></div>
    <div class="radio-wrap d-flex kss_sizes wo-image mt-5 radio-rounded">
            <input class="d-none radio-input" type="radio" name="kss-sizes" id="18-24" checked="checked"/>
            <label class="radio-label" for="18-24" title="18-24 months">
              <div class="radio-option">18-24M</div>
            </label>
            <input class="d-none radio-input" type="radio" name="kss-sizes" id="1-2"/>
            <label class="radio-label" for="1-2" title="1-2 years">
              <div class="radio-option">1-2Y</div>
            </label>
            <input class="d-none radio-input" type="radio" name="kss-sizes" id="2-4" />
            <label class="radio-label" for="2-4" title="2-4 years">
              <div class="radio-option">2-4Y</div>
            </label>
            <input class="d-none radio-input" type="radio" name="kss-sizes" id="4-8"/>
            <label class="radio-label" for="4-8" title="4-8 years">
              <div class="radio-option">4-8Y</div>
            </label>
             <input class="d-none radio-input" type="radio" name="kss-sizes" id="9-10"/>
            <label class="radio-label" for="9-10" title="9-10 years">
              <div class="radio-option">9-10Y</div>
            </label>
              <input class="d-none radio-input" type="radio" name="kss-sizes" id="11-12"/>
            <label class="radio-label" for="11-12" title="11-12 years">
              <div class="radio-option">11-12Y</div>
            </label>
                <input class="d-none radio-input" type="radio" name="kss-sizes" id="12-13"/>
            <label class="radio-label" for="12-13" title="12-13 years">
              <div class="radio-option">12-13Y</div>
            </label>
        </div>
      </div>
    </div>
    </div>
  </section>
  <section>
      <div class="container">
        <div class="d-flex flex-row  overflow-m mb-3 mt-5">
            <div class="p-2 bd-highlight col-md-2 col-5">
              <a href="/kss/list/">
              <div class="alert-light h-100" style="background: #fafafa url('../img/super-hero-girl.png') right bottom no-repeat;background-size: 120%;">
              <div class="w-75 text-center mt-2 float-right">
                 <h5 class="font-weight-bold text-black">Character <br> Tshirt</h5>
                 Choose your favourite Hero
              </div>
              </div>
              </a>
          </div>
          <div class="p-2 bd-highlight col-md-2 col-5">
             <div class="card h-100 product-card">
              <div class="img-container ">
                <a href="/kss/list/">
                  <div class="image-sm oh loading">
                <img src="{{"img/barbie-img.jpg" | absURL}}" class="img-fluid lazyload " />
              </div>
              </a>
              </div>
                <div class="card-body">
                  <a href="#">
                    <h5 class="text-center font-weight-bold text-black">
                     Barbie Tshirts
                    </h5>
                  </a>
                </div>
              </div>
          </div>
            <div class="p-2 bd-highlight col-md-2 col-5">
             <div class="card h-100 product-card">
              <div class="img-container">
                <a href="/kss/list/">
                  <div class="image-sm oh loading">
                    <img src="{{"img/frozen-img.jpg" | absURL}}" class="img-fluid lazyload "/>
                  </div>
                  </a>
              </div>
                <div class="card-body">
                  <a href="/kss/list/">
                    <h5 class="text-center font-weight-bold text-black">
                     Frozen Characters
                    </h5>
                  </a>
                </div>
              </div>
          </div>
            <div class="p-2 bd-highlight col-md-2 col-5">
             <div class="card h-100 product-card">
              <div class="img-container">
                <a href="/kss/list/">
                  <div class="image-sm oh loading">
                <img src="{{"img/angry-img.jpg" | absURL}}" class="img-fluid lazyload "/>
                </div>
                  </a>
              </div>
                <div class="card-body">
                  <a href="/kss/list/">
                    <h5 class="text-center font-weight-bold text-black">
                    Angry Bird Tshirt
                    </h5>
                  </a>
                </div>
              </div>
          </div>
            <div class="p-2 bd-highlight col-md-2 col-5">
             <div class="card h-100 product-card">
              <div class="img-container">
                <a href="/kss/list/">
                  <div class="image-sm oh loading">
                <img src="{{"img/minions-img.jpg" | absURL}}" class="img-fluid lazyload "/>
                </div>
                  </a>
              </div>
                <div class="card-body">
                  <a href="/kss/list/">
                    <h5 class="text-center font-weight-bold text-black">
                     Minions Tshirts
                    </h5>
                  </a>
                </div>
              </div>
          </div>
            <div class="p-2 bd-highlight col-md-2 col-5">
             <div class="card h-100 product-card">
              <div class="img-container">
                <a href="/kss/list/">
                  <div class="image-sm oh loading">
                <img src="{{"img/car-img.jpg" | absURL}}" class="img-fluid lazyload "/>
                </div>
                  </a>
              </div>
                <div class="card-body">
                  <a href="/kss/list/">
                    <h5 class="text-center font-weight-bold text-black">
                     Car Tshirts
                    </h5>
                  </a>
                </div>
              </div>
          </div>

        </div>
</div>
  </section>

   <section>
    <div class="container">
    <div class="row mt-5 mb-3">
        <div class="col-md-12 text-center">
          <h2 class="font-weight-bold m-0">Girls Clothings</h2>
          <p>Lorem ipsum dolor sit amet</p>
        </div>
    </div>
  </div>
   </section>
<section id="kss-clothings" class="stripe-bg-top">
    <div class="container ">
     <div class="d-flex flex-row overflow-m">
             <div class="p-2 bd-highlight col-md-2 col-5">
             <div class="card h-100 product-card ">
              <div class="img-container p-1 shadow">
                <a href="/kss/list/">
                  <div class="image-sm oh loading">
                <img src="{{"img/girl-product-1.jpg" | absURL}}" class="img-fluid lazyload "/>
              </div>
               </a>
              </div>
                <div class="card-body">
                   <a href="/kss/list/">
                    <h5 class="text-center font-weight-bold text-black">
                     Jackets
                    </h5>
                  </a>
                </div>
              </div>
          </div>
          <div class="p-2 bd-highlight col-md-2 col-5">
             <div class="card h-100 product-card ">
              <div class="img-container p-1 shadow">
                 <a href="/kss/list/">
                  <div class="image-sm oh loading">
                  <img src="{{"img/girl-product-2.jpg" | absURL}}" class="img-fluid lazyload "/>
                 </div>
                </a>
              </div>
                <div class="card-body">
                   <a href="/kss/list/">
                    <h5 class="text-center font-weight-bold text-black">
                     Pajamas
                    </h5>
                  </a>
                </div>
              </div>
          </div>
            <div class="p-2 bd-highlight col-md-2 col-5">
             <div class="card h-100 product-card  ">
              <div class="img-container p-1 shadow">
                 <a href="/kss/list/">
                  <div class="image-sm oh loading">
                    <img src="{{"img/girl-product-3.jpg" | absURL}}" class="img-fluid lazyload "/>
                  </div>
                </a>
              </div>
                <div class="card-body">
                   <a href="/kss/list/">
                    <h5 class="text-center font-weight-bold text-black">
                     Party Wear
                    </h5>
                  </a>
                </div>
              </div>
          </div>
            <div class="p-2 bd-highlight col-md-2 col-5">
             <div class="card h-100 product-card">
              <div class="img-container p-1 shadow">
                 <a href="/kss/list/">
                  <div class="image-sm oh loading">
                   <img src="{{"img/girl-product-4.jpg" | absURL}}" class="img-fluid lazyload "/>
                 </div>
                </a>
              </div>
                <div class="card-body">
                   <a href="/kss/list/">
                    <h5 class="text-center font-weight-bold text-black">
                    Jeans
                    </h5>
                  </a>
                </div>
              </div>
          </div>
            <div class="p-2 bd-highlight col-md-2 col-5">
             <div class="card h-100 product-card">
              <div class="img-container p-1 shadow">
                 <a href="/kss/list/">
                  <div class="image-sm oh loading">
                <img src="{{"img/girl-product-5.jpg" | absURL}}" class="img-fluid lazyload "/>
                </div>
              </a>
              </div>
                <div class="card-body">
                   <a href="/kss/list/">
                    <h5 class="text-center font-weight-bold text-black">
                     Casual Shirts
                    </h5>
                  </a>
                </div>
              </div>
          </div>
            <div class="p-2 bd-highlight col-md-2 col-5">
             <div class="card h-100 product-card">
              <div class="img-container p-1 shadow">
                 <a href="/kss/list/">
                  <div class="image-sm oh loading">
                  <img src="{{"img/girl-product-6.jpg" | absURL}}" class="img-fluid lazyload "/>
                  </div>
              </a>
              </div>
                <div class="card-body">
                   <a href="/kss/list/">
                    <h5 class="text-center font-weight-bold text-black">
                     Ethnic Wear
                    </h5>
                  </a>
                </div>
              </div>
          </div>

        </div>
  </div>
</section>

<section class="yellow-bg mt-5 mb-5 text-center"> 
  <div class="container  d-flex">

     <div class="align-self-center text-center w-100 ">
            <h1 class="display-4 bold banner-title">Diwali Wear</h1>
            <h5 class="text-dark m-0">Lorem ipsum dolor sit amet</h5>
            <button type="button" class="btn btn-dark btn-lg  mt-4">Shop Now</button>
        </div>
          <div class="beach-wear mt-3">
       <img src="{{"img/divali-girl.png" | absURL}}" />
  </div>
</div>
</section>


  <section>
    <div class="seperator d-none d-md-block">
</div>
    <div class="container">
    <div class="row mt-5">
        <div class="col-md-12 text-center">
          <h2 class="font-weight-bold m-0">Buy by Budget</h2>
          <p>Lorem ipsum dolor sit amet</p>
        </div>
    </div>
   <div class="d-flex flex-row mb-3 mt-3 overflow-m">
          <div class="p-2 bd-highlight  col-md-2 col-6">
            <div class="dotted-bg">
            </div>
            <a href="#" class="text-black">
            <div class="card price-range text-center p-2">
              <p>Price Store</p>
              <h3 class="font-weight-bold">Under<br>₹ 299</h3>
            
            </div>
          </a>
          </div>
           <div class="p-2 bd-highlight col-md-2 col-6">
            <div class="dotted-bg">
            </div>
            <a href="#" class="text-black">
            <div class="card price-range text-center p-2">
              <p>Price Store</p>
              <h3 class="font-weight-bold">Under<br>₹ 399</h3>
           
            </div>
          </a>
          </div>
           <div class="p-2 bd-highlight col-md-2 col-6">
            <div class="dotted-bg">
            </div>
            <a href="#" class="text-black">
           <div class="card price-range text-center p-2">
              <p>Price Store</p>
              <h3 class="font-weight-bold">Under<br>₹ 499</h3>
         
            </div>
          </a>
          </div>
           <div class="p-2 bd-highlight col-md-2 col-6">
            <div class="dotted-bg">
            </div>
            <a href="#" class="text-black">
           <div class="card price-range text-center p-2">
              <p>Price Store</p>
              <h3 class="font-weight-bold">Under<br>₹ 599</h3>
         
            </div>
          </a>
          </div>
           <div class="p-2 bd-highlight col-md-2 col-6">
            <div class="dotted-bg">
            </div>
            <a href="#" class="text-black">
           <div class="card price-range text-center p-2">
              <p>Price Store</p>
              <h3 class="font-weight-bold">Under<br>₹ 899</h3>
          
            </div>
          </a>
          </div>
           <div class="p-2 bd-highlight col-md-2 col-6">
            <div class="dotted-bg">
            </div>
            <a href="#" class="text-black">
          <div class="card price-range text-center p-2">
              <p>Price Store</p>
              <h3 class="font-weight-bold">Under<br>₹ 999</h3>
           
            </div>
          </a>
          </div>
    </div>
  </div>
     <div class="seperator">
</div>
  </section>
<section id="school-collection" class="light-bg">
 <div class="container pt-5 pb-5">
    <div class="row ">
        <div class="col-md-12 text-center">
          <h2 class="font-weight-bold m-0">School Collection</h2>
          <p>Dress Code for fun playtime is here</p>
        </div>
    </div>
      <div class="d-flex flex-row flex-wrap overflow-m">
             <div class="p-2 bd-highlight col-md-4 col-6">
             <div class="card h-100 ">
              <div class="img-container ">
                <img src="{{"img/school-dress.jpg" | absURL}}" class="img-fluid m-auto d-block"/>
              </div>
                <div class="card-body">
                    <h5 class="text-center font-weight-bold">
                     School Uniforms
                    </h5>
                </div>
              </div>
          </div>
          <div class="p-2 bd-highlight col-md-4 col-6">
             <div class="card h-100 ">
              <div class="img-container ">
                <img src="{{"img/bag.jpg" | absURL}}" class="img-fluid m-auto d-block"/>
              </div>
                <div class="card-body">
                    <h5 class="text-center font-weight-bold">
                    School Bags
                    </h5>
                </div>
              </div>
          </div>
            <div class="p-2 bd-highlight col-md-4 col-6">
             <div class="card h-100   ">
              <div class="img-container ">
                <img src="{{"img/shoes.jpg" | absURL}}" class="img-fluid m-auto d-block"/>
              </div>
                <div class="card-body">
                    <h5 class="text-center font-weight-bold">
                    Shoes
                    </h5>
                </div>
              </div>
          </div>
    <!--         <div class="p-2 bd-highlight col-md-5 col-6">
             <div class="card h-100 product-card">
              <div class="img-container ">
                <img src="{{"img/jodpuri.png" | absURL}}" class="img-fluid d-block m-auto"/>
              </div>
                <div class="card-body">
                    <h5 class="text-center font-weight-bold">
                    Angrakha
                    </h5>
                </div>
              </div>
          </div>
            <div class="p-2 bd-highlight col-md-5 col-6">
             <div class="card h-100 product-card">
              <div class="img-container ">
                <img src="{{"img/waistcoat.png" | absURL}}" class="img-fluid d-block m-auto"/>
              </div>
                <div class="card-body">
                    <h5 class="text-center font-weight-bold">
                     Waist Coat
                    </h5>
                </div>
              </div>
          </div>
            <div class="p-2 bd-highlight col-md-2 col-6">
             <div class="card h-100 product-card">
              <div class="img-container">
                <img src="{{"img/mojardi.png" | absURL}}" class="img-fluid"/>
              </div>
                <div class="card-body">
                    <h5 class="text-center font-weight-bold">
                     Mojardi
                    </h5>
                </div>
              </div>
          </div> -->

        </div>
        <div class="bg-bag">
        </div>
         <div class="seperator d-none d-md-block">
    </div>
  </div>
</section>
<section id="diwali-collection" >
 <div class="container pt-5 pb-5">
    <div class="row mt-3">
        <div class="col-md-12 text-center">
          <h2 class="font-weight-bold m-0">Diwali Collection</h2>
          <p>Dress Code for fun playtime is here</p>
        </div>
    </div>
      <div class="d-flex flex-row flex-wrap overflow-m">
             <div class="p-2 bd-highlight col-md-4 col-6">
             <div class="card h-100 ">
              <div class="img-container ">
                <img src="{{"img/kurta.png" | absURL}}" class="img-fluid"/>
              </div>
                <div class="card-body">
                    <h5 class="text-center font-weight-bold">
                     Embroidered Kurta
                    </h5>
                </div>
              </div>
          </div>
          <div class="p-2 bd-highlight col-md-4 col-6">
             <div class="card h-100 ">
              <div class="img-container ">
                <img src="{{"img/sherwani.png" | absURL}}" class="img-fluid"/>
              </div>
                <div class="card-body">
                    <h5 class="text-center font-weight-bold">
                   Sherwani
                    </h5>
                </div>
              </div>
          </div>
            <div class="p-2 bd-highlight col-md-4 col-6">
             <div class="card h-100   ">
              <div class="img-container ">
                <img src="{{"img/dhoti.png" | absURL}}" class="img-fluid"/>
              </div>
                <div class="card-body">
                    <h5 class="text-center font-weight-bold">
                    Kurta & Dhoti Set
                    </h5>
                </div>
              </div>
          </div>
        </div>
  </div>
</section>

<section class="yellow-bg  text-center"> 
  <div class="bg-left-overlay">
  </div>
   <div class="bg-right-overlay">
  </div>
  <div class="container  d-flex justify-content-center diwali-banner">
     <div class="align-self-center text-center w-100 ">
            <h1 class="display-4 bold banner-title">New Arrivals</h1>
            <h5 class="text-dark m-0">20 - 30% OFF on Diwali wear</h5>
            <button type="button" class="btn btn-dark btn-lg  mt-4">Shop Now</button>
        </div>
</div>
</section>

<section>
     <div class="seperator">
    </div>
</section>
<section id="kss-clothings" class="stripe-bg-top">

    <div class="container ">
     <div class="d-flex flex-row overflow-m">
             <div class="p-2 bd-highlight col-md-2 col-5">
             <div class="card h-100 product-card ">
              <div class="img-container p-1 shadow">
                <a href="#">
              <div class="image-sm oh loading">
                <img src="{{"img/diwali-1.jpg" | absURL}}" class="img-fluid lazyload "/>
              </div>
               </a>
              </div>
                <div class="card-body">
                   <a href="#">
                    <h5 class="text-center font-weight-bold text-black">
                     Jackets
                    </h5>
                  </a>
                </div>
              </div>
          </div>
          <div class="p-2 bd-highlight col-md-2 col-5">
             <div class="card h-100 product-card ">
              <div class="img-container p-1 shadow">
                 <a href="#">
                <div class="image-sm oh loading">
               <img src="{{"img/diwali-2.jpg" | absURL}}" class="img-fluid lazyload " />
               </div>
                </a>
              </div>
                <div class="card-body">
                   <a href="#">
                    <h5 class="text-center font-weight-bold text-black">
                     Pajamas
                    </h5>
                  </a>
                </div>
              </div>
          </div>
            <div class="p-2 bd-highlight col-md-2 col-5">
             <div class="card h-100 product-card  ">
              <div class="img-container p-1 shadow">
                 <a href="#">
                   <div class="image-sm oh loading">
                    <img src="{{"img/diwali-3.jpg" | absURL}}" class="img-fluid lazyload "/>
                  </div>
                </a>
              </div>
                <div class="card-body">
                   <a href="#">
                    <h5 class="text-center font-weight-bold text-black">
                     Party Wear
                    </h5>
                  </a>
                </div>
              </div>
          </div>
            <div class="p-2 bd-highlight col-md-2 col-5">
             <div class="card h-100 product-card">
              <div class="img-container p-1 shadow">
                 <a href="#">
                 <div class="image-sm oh loading">  
                <img src="{{"img/diwali-4.jpg" | absURL}}" class="img-fluid lazyload "/>
                 </div>
                </a>
              </div>
                <div class="card-body">
                   <a href="#">
                    <h5 class="text-center font-weight-bold text-black">
                    Jeans
                    </h5>
                  </a>
                </div>
              </div>
          </div>
            <div class="p-2 bd-highlight col-md-2 col-5">
             <div class="card h-100 product-card">
              <div class="img-container p-1 shadow">
                 <a href="#">
              <div class="image-sm oh loading">
                <img src="{{"img/diwali-5.jpg" | absURL}}" class="img-fluid lazyload "/>
              </div>
              </a>
              </div>
                <div class="card-body">
                   <a href="#">
                    <h5 class="text-center font-weight-bold text-black">
                     Casual Shirts
                    </h5>
                  </a>
                </div>
              </div>
          </div>
            <div class="p-2 bd-highlight col-md-2 col-5">
             <div class="card h-100 product-card">
              <div class="img-container p-1 shadow">
                 <a href="#">
              <div class="image-sm oh loading">
                <img src="{{"img/product-6.jpg" | absURL}}" class="img-fluid lazyload "/>
              </div>
              </a>
              </div>
                <div class="card-body">
                   <a href="#">
                    <h5 class="text-center font-weight-bold text-black">
                     Ethnic Wear
                    </h5>
                  </a>
                </div>
              </div>
          </div>

        </div>
  </div>
</section>
{{ end }}