{{ define "main" }}
 <!--  <section>
  	<div class="kss_banner mb-3 text-center" style="background:url('../img/banner.jpg') center;">
  		<h1 class="display-4 bold">Boys Shirts</h1>
  		<i class="d-block mt-2 d-block d-sm-none"> Showing 300 items</i>
  	</div>
  </section> -->
  <section>
    <div class="container">
     	<div class="row">
    	  <div class="col-sm-12 col-md-3">
          <div id="accordion" class="kss_filter d-sm-block">
            <div class="kss_filter-list">
              <div class="d-none">
            	<sm class=><a class="float-right font-weight-light d-none d-md-block" href="#">Reset </a></sm>
            	<h4 class="mb-4 mt-0">Filter By  <i id="kss_hide-filter" class="float-right fa fa-times d-block d-md-none"></i></h4>
                <hr>
              </div>
              <div id="headingOne">
           		  <h5 data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Brands <i class="fas fa-angle-up float-right"></i>
                </h5>
              </div>

              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                	<div class="custom-control custom-checkbox">
            			  <input type="checkbox" class="custom-control-input" id="customCheck1">
            			  <label class="custom-control-label" for="customCheck1">Peppermint (598)</label>
            		  </div>
              		<div class="custom-control custom-checkbox">
            			  <input type="checkbox" class="custom-control-input" id="customCheck2">
            			  <label class="custom-control-label" for="customCheck2">Bella Moda (325)</label>
              		</div>
              		<div class="custom-control custom-checkbox">
              		  <input type="checkbox" class="custom-control-input" id="customCheck3">
              		  <label class="custom-control-label" for="customCheck3">Doodle (295)</label>
              		</div>
              		<div class="custom-control custom-checkbox">
              		  <input type="checkbox" class="custom-control-input" id="customCheck4">
              		  <label class="custom-control-label" for="customCheck4">Nauti Nati (210)</label>
              		</div>
              		<div class="custom-control custom-checkbox">
              		  <input type="checkbox" class="custom-control-input" id="customCheck5">
              		  <label class="custom-control-label" for="customCheck5">YK (196)</label>
              		</div>
              		<div class="custom-control custom-checkbox">
              		  <input type="checkbox" class="custom-control-input" id="customCheck6">
              		  <label class="custom-control-label" for="customCheck6">612 league (196)</label>
              		</div>
                </div>
              </div>
            </div>
            <div class="kss_filter-list">
              <div id="headingTwo">
                <h5 class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                 Shop by Style<i class="fas fa-angle-up float-right"></i>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
               		<div class="custom-control custom-checkbox">
              		  <input type="checkbox" class="custom-control-input" id="customCheck7">
              		  <label class="custom-control-label" for="customCheck7">Ployester (03)</label>
              		</div>
              		<div class="custom-control custom-checkbox">
              		  <input type="checkbox" class="custom-control-input" id="customCheck8">
              		  <label class="custom-control-label" for="customCheck8">Others (03)</label>
              		</div>
              		<div class="custom-control custom-checkbox">
              		  <input type="checkbox" class="custom-control-input" id="customCheck9">
              		  <label class="custom-control-label" for="customCheck9">Cotton (28)</label>
            		  </div>
                </div>
              </div>
            </div>
            <div class="kss_filter-list">
              <div id="headingThree">
                <h5 class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Price<i class="fas fa-angle-up float-right"></i>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
              	  <div class="custom-control custom-checkbox">
            			  <input type="checkbox" class="custom-control-input" id="customCheck10">
            			  <label class="custom-control-label" for="customCheck10">Below ₹200.00 (11)</label>
            		  </div>
              		<div class="custom-control custom-checkbox">
              		  <input type="checkbox" class="custom-control-input" id="customCheck11">
              		  <label class="custom-control-label" for="customCheck11">₹200.00 - ₹300.00 (30)</label>
              		</div>
              		<div class="custom-control custom-checkbox">
              		  <input type="checkbox" class="custom-control-input" id="customCheck12">
              		  <label class="custom-control-label" for="customCheck12">₹300.00 - ₹400.00 (34)</label>
              		</div>
              		<div class="custom-control custom-checkbox">
              		  <input type="checkbox" class="custom-control-input" id="customCheck13">
              		  <label class="custom-control-label" for="customCheck13">₹400.00 and above (05)</label>
              		</div>
                </div>
              </div>
            </div>
            <div class="kss_filter-list">
              <div id="headingThree">
                <h5 class=" collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                  Look<i class="fas fa-angle-up float-right"></i>
                </h5>
              </div>
              <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
             	    <div class="custom-control custom-checkbox">
            			  <input type="checkbox" class="custom-control-input" id="customCheck14">
            			  <label class="custom-control-label" for="customCheck14">Color of the season (15)
                    </label>
              		</div>
              		<div class="custom-control custom-checkbox">
            			  <input type="checkbox" class="custom-control-input" id="customCheck15">
            			  <label class="custom-control-label" for="customCheck15">Essential (19)</label>
              		</div>
                </div>
              </div>
            </div>
            <div class="position-absolute fixed-bottom">
            	<div class="container">
              	<div class="row">
              		<div class="col-6 mt-2 mb-2">
              				<button type="button" class=" btn btn-outline-dark btn-block">Clear All</button>
              		</div>
              		<div class="col-6 mt-2 mb-2">
              				<button type="button" class="btn btn-dark btn-block">Apply</button>
              		</div>
              	</div>
              </div>
            </div>
          </div>
    	  </div>
    	  <div class="col-sm-12 col-md-9">
    	  	<div class="d-none d-md-block">
    		  	<div class="row mt-2">
    		  		<div class="col-sm-6">
    		  			<i class="d-block mt-2"> Showing 300 items</i>
    		  		</div>
    		  		<div class="col-sm-6 ">
          			<form class="form-inline float-right">
          			  <div class="form-group mb-2">
          			   Sort By
          			  </div>
          			  <div class="form-group mx-sm-3 mb-2">
            			  <select class="form-control">
            				  <option>Popularity</option>
            				  <option>Latest</option>
            				  <option>Discount</option>
            				  <option>Price: High to Low</option>
            				  <option>Price: Low to High</option>
            				</select>
          			  </div>
          			</form>
    		  		</div>
    		  	</div>
    		  </div>
    	  	<hr class="d-none d-sm-block">
          <div id="card-list" class="row">
            <div class="col-lg-4 col-md-6 mb-4 col-6  ">
              <div class="card h-100 product-card">
              	<i class="fas fa-heart kss_heart"></i>
                <a href="/kss/product/"><img class="card-img-top" src="{{"img/1front.jpg" | absURL}}" alt=""></a>
                <div class="card-body">
                  <a href="/kss/product/" class="text-dark">
                    <h5 class="card-title">
                      Cotton Rich Super Skinny Fit Jeans
                    </h5>
                  </a>
                  <div class="kss-price kss-price--smaller">₹869 <small class="kss-original-price text-muted">₹1309</small><span class="kss-discount text-danger">20% OFF</span></div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 col-6  ">
           	  <div class="card h-100 product-card">
           	 		<i class="fas fa-heart kss_heart"></i>
                <a href="/kss/product/"><img class="card-img-top" src="{{"img/3front.jpg" | absURL}}" alt=""></a>
                <div class="card-body">
                  <a href="/kss/product/" class="text-dark">
                    <h5 class="card-title">
                      Cotton Rich Super Skinny Fit Jeans
                    </h5>
                  </a>
                  <div class="kss-price kss-price--smaller">₹869 <small class="kss-original-price text-muted">₹1309</small><span class="kss-discount text-danger">20% OFF</span></div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 col-6   ">
              <div class="card h-100 product-card">
              	<i class="fas fa-heart kss_heart"></i>
                <a href="/kss/product/"><img class="card-img-top" src="{{"img/Artboard2324.jpg" | absURL}}" alt=""></a>
                <div class="card-body">
                  <a href="/kss/product/" class="text-dark">
                    <h5 class="card-title">
                      Cotton Rich Super Skinny Fit Jeans
                    </h5>
                  </a>
                  <div class="kss-price kss-price--smaller">₹869 <small class="kss-original-price text-muted">₹1309</small><span class="kss-discount text-danger">20% OFF</span></div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 col-6 fade-on ">
              <div class="card h-100 product-card">
                <i class="fas fa-heart kss_heart"></i>
                <a href="/kss/product/"><img class="card-img-top" src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E" data-imgsrc="{{"img/Artboard 222.jpg" | absURL}}" alt=""></a>
                <div class="card-body">
                  <a href="/kss/product/" class="text-dark">
                    <h5 class="card-title">
                      Cotton Rich Super Skinny Fit Jeans
                    </h5>
             	    </a>
                  <div class="kss-price kss-price--smaller">₹869 <small class="kss-original-price text-muted">₹1309</small><span class="kss-discount text-danger">20% OFF</span></div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 col-6 fade-on ">
              <div class="card h-100 product-card">
                <i class="fas fa-heart kss_heart"></i>
                <a href="/kss/product/"><img class="card-img-top" src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E" data-imgsrc="{{"img/Artboard1234.jpg" | absURL}}" alt=""></a>
                <div class="card-body">
                  <a href="/kss/product/" class="text-dark">
                    <h5 class="card-title">
                      Cotton Rich Super Skinny Fit Jeans
                    </h5>
                  </a>
                  <div class="kss-price kss-price--smaller">₹869 <small class="kss-original-price text-muted">₹1309</small><span class="kss-discount text-danger">20% OFF</span></div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 col-6 fade-on ">
              <div class="card h-100 product-card">
              	<i class="fas fa-heart kss_heart"></i>
                <a href="/kss/product/"><img class="card-img-top" src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E" data-imgsrc="{{"img/Artboard 2wew.jpg" | absURL}}" alt=""></a>
                <div class="card-body">
                	<a href="/kss/product/" class="text-dark">
                    <h5 class="card-title">
                      Cotton Rich Super Skinny Fit Jeans
                    </h5>
                  </a>
                  <div class="kss-price kss-price--smaller">₹869 <small class="kss-original-price text-muted">₹1309</small><span class="kss-discount text-danger">20% OFF</span></div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 col-6 fade-on ">
              <div class="card h-100 product-card">
                <i class="fas fa-heart kss_heart"></i>
                <a href="/kss/product/"><img class="card-img-top" src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E" data-imgsrc="{{"img/Artboard 222.jpg" | absURL}}" alt=""></a>
                <div class="card-body">
              	  <a href="/kss/product/" class="text-dark">
                    <h5 class="card-title">
                      Cotton Rich Super Skinny Fit Jeans
                    </h5>
                  </a>
                  <div class="kss-price kss-price--smaller">₹869 <small class="kss-original-price text-muted">₹1309</small><span class="kss-discount text-danger">20% OFF</span></div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 col-6 fade-on ">
              <div class="card h-100 product-card">
                <i class="fas fa-heart kss_heart"></i>
                <a href="/kss/product/"><img class="card-img-top" src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E" data-imgsrc="{{"img/Artboard1234.jpg" | absURL}}" alt=""></a>
                <div class="card-body">
                  <h5 class="card-title">
                    Cotton Rich Super Skinny Fit Jeans
                  </h5>
                  <div class="kss-price kss-price--smaller">₹869 <small class="kss-original-price text-muted">₹1309</small><span class="kss-discount text-danger">20% OFF</span></div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 col-6 fade-on ">
              <div class="card h-100 product-card">
              	<i class="fas fa-heart kss_heart"></i>
                <a href="/kss/product/"><img class="card-img-top" src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E" data-imgsrc="{{"img/Artboard 2wew.jpg" | absURL}}" alt=""></a>
                <div class="card-body">
              	  <a href="/kss/product/" class="text-dark">
                    <h5 class="card-title">
                      Cotton Rich Super Skinny Fit Jeans
                    </h5>
                  </a>
                  <div class="kss-price kss-price--smaller">₹869 <small class="kss-original-price text-muted">₹1309</small><span class="kss-discount text-danger">20% OFF</span></div>
                </div>
              </div>
            </div>
          </div>
    	  </div>
    	</div>
    </div>
    <br>
    <br>
    <div class="modal fade" id="kss_sort" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog m-0 fixed-bottom" role="document">
        <div class="modal-content fixed-bottom">
          <div class="modal-header">
            <h6 class="modal-title text-muted" id="exampleModalLongTitle">Sort by</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="">
          	<ul class="list-group list-unstyled kss_sort mb-0">
              <li class="list-group-item pl-2">
                <a href="#" class="text-dark"><i class="kss_icon popularity"></i> Popularity</a>
              </li>
              <li class="list-group-item pl-2">
                <a href="#" class="text-dark"><i class="kss_icon latest"></i> Latest</a>
              </li>
              <li class="list-group-item pl-2">
                <a href="#" class="text-dark"><i class="kss_icon discount"></i> Discount</a>
              </li>
              <li class="list-group-item pl-2">
                <a href="#" class="text-dark"><i class="kss_icon price-h"></i> Price: High to Low</a>
              </li>
              <li class="list-group-item pl-2">
                <a href="#" class="text-dark"><i class="kss_icon price-l"></i> Price: Low to High</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="fixed-bottom d-block d-md-none">
    	<div class="row">
    		<div class="col-6 text-center b-r">
    			<a data-toggle="modal" data-target="#kss_sort"><h5 class="mt-4">Sort</h5></a>
    		</div>
    		<div class="col-6 text-center" id="filter" >
    			<a><h5 id="filter" class="mt-4">Filter</h5></a>
    		</div>
    	</div>
    </div>
  </section>
{{ end }}