{{ define "main" }}

	<div class="container">
		<div class="row">
			<div class="col-6">
				img
			</div>
			<div class="col-6">
				<h1>Cotton Rich Super Skinny Fit Jeans</h1>
				<h6>869 <small>1309</small><span>20% OFF</span></h6>

				<div>Color Selection</div>
				<ul class="kss_variants">
					<li>green</li>
					<li>yellow</li>
					<li>blue</li>
				</ul>

				<div>Select Size</div>
				<div class="button-wrap kss_sizes">
				    <input class="d-none radio-label" type="radio" name="kss-sizes" id="18-24" checked="checked"/>
				    <label class="button-label" for="18-24">
				      <div class="radio-option">18-24 M</div>
				    </label>
				    <input class="d-none radio-label" type="radio" name="kss-sizes" id="1-2"/>
				    <label class="button-label" for="1-2">
				      <div class="radio-option">1-2 Y</div>
				    </label>
				    <input class="d-none radio-label" type="radio" name="kss-sizes" id="2-4"/>
				    <label class="button-label" for="2-4">
				      <div class="radio-option">2-4 Y</div>
				    </label>
				    <input class="d-none radio-label" type="radio" name="kss-sizes" id="5-8"/>
				    <label class="button-label" for="5-8">
				      <div class="radio-option">5-8 Y</div>
				    </label>
				</div>

				<div class="row">
					<div class="col-3">
						<div>Quantity</div>
						<select class="custom-select">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
						</select>
					</div>
					<div class="col-9">
						<button class="btn btn-primary btn-lg btn-block">Add to Cart</button>
					</div>
				</div>

				<div class="accordion" id="accordionExample">
				  <div class="card">
				    <div class="card-header" id="headingOne">
				      <h5 class="mb-0">
				        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				        	Details
				        </button>
				      </h5>
				    </div>

				    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
				      <div class="card-body">
				        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				      </div>
				    </div>
				  </div>
				  <div class="card">
				    <div class="card-header" id="headingTwo">
				      <h5 class="mb-0">
				        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				        	Additional Info
				        </button>
				      </h5>
				    </div>
				    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
				      <div class="card-body">
				        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				      </div>
				    </div>
				  </div>
				  <div class="card">
				    <div class="card-header" id="headingThree">
				      <h5 class="mb-0">
				        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
				        	Reviews
				        </button>
				      </h5>
				    </div>
				    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
				      <div class="card-body">
				        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				      </div>
				    </div>
				  </div>
				</div>

			</div>
		</div>
	</div>

{{ end }}