{{ define "main" }}


	<div class="breadcrumb-wrapper border-top border-bottom mb-0 mb-sm-4">
		<div class="container d-none d-sm-block ">
		<div class="row">
			<div class="col-sm-8 col-8">

			<nav aria-label="breadcrumb">
				<ol class="breadcrumb mb-0 bg-transparent pl-0 pr-0">
				    <li class="breadcrumb-item"><a href="#">Home</a></li>
				    <li class="breadcrumb-item"><a href="#">Boys</a></li>
				    <li class="breadcrumb-item"><a href="#">Boys Shirts</a></li>
				    <li class="breadcrumb-item active" aria-current="page">Cotton Rich Super Shirt</li>
				</ol>
			</nav>
		</div>
			<div class="col-sm-4 col-4">
		<button type="button" class="btn btn-warning float-right mt-1"> <i class="fas fa-share-alt"></i> Share</button>
		</div>
	</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<div class="row">
					<div class="col-12 order-1 col-sm-10 order-sm-2 mb-3 d-none d-sm-block">
						<img src="{{"img/4front.jpg" | absURL}}" xoriginal='{{"img/4front.jpg" | absURL}}' class="img-fluid xzoom" >
					</div>
					<div class="col-12 order-2 col-sm-2 order-sm-1 px-0">
							<img src="{{"img/arrow.png" | absURL}}" class="swipe-arrow">
						<ul class="d-flex d-sm-block list-unstyled m-2 m-sm-0 center">

							<li class="mx-2 mb-2">
								<a href="{{"img/4front.jpg" | absURL}}">
									<img src="{{"img/4front.jpg" | absURL}}" xpreview="{{"img/4front.jpg" | absURL}}" class="img-fluid xzoom-gallery m-0">
								</a>
							</li>
							<li class="mx-2 mb-2">
								<a href="{{"img/4back.jpg" | absURL}}">
									<img src="{{"img/4back.jpg" | absURL}}" xpreview="{{"img/4back.jpg" | absURL}}" class="img-fluid xzoom-gallery m-0">
								</a>
							</li>
							<li class="mx-2 mb-2">
								<a href="{{"img/4focus.jpg" | absURL}}">
									<img src="{{"img/4focus.jpg" | absURL}}" xpreview="{{"img/4focus.jpg" | absURL}}" class="img-fluid xzoom-gallery m-0">
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-sm-6">

				<h1 class="kss-title mb-2 mb-sm-4 text-gray">Cotton Rich Super Skinny Fit Jeans</h1>

				<h4 class="kss-price">₹869 <small class="kss-original-price text-muted">₹1309</small> <span class="kss-discount text-danger">20% OFF</span></h4>
				<i class="fas fa-heart kss_heart" style="top: 5px;"></i>
				<hr>

				<label class="mt-2">Color Selection</label>
				<div class="radio-wrap w-image kss_variants mb-4 ">
				    <input class="d-none radio-input" type="radio" name="kss-variants" id="green" checked="checked"/>
				    <label class="radio-label" for="green" style="background-image: url({{"img/shirt1.jpg" | absURL}})">
				      <div class="radio-option">green</div>
				    </label>
				    <input class="d-none radio-input" type="radio" name="kss-variants" id="yellow"/>
				    <label class="radio-label" for="yellow" style="background-image: url({{"img/shirt2.jpg" | absURL}})">
				      <div class="radio-option">yellow</div>
				    </label>
				    <input class="d-none radio-input" type="radio" name="kss-variants" id="blue"/>
				    <label class="radio-label" for="blue" style="background-image: url({{"img/shirt3.jpg" | absURL}})">
				      <div class="radio-option">blue</div>
				    </label>
				    <input class="d-none radio-input" type="radio" name="kss-variants" id="red"/>
				    <label class="radio-label" for="red" style="background-image: url({{"img/shirt4.jpg" | absURL}})">
				      <div class="radio-option">red</div>
				    </label>
				</div>

				<div class="d-flex justify-content-between">
					<label class="">Select Size</label>
					<a href="#" class="font-weight-bold">Size Chart</a>
				</div>
				<div class="radio-wrap kss_sizes wo-image mb-4">
				    <input class="d-none radio-input" type="radio" name="kss-sizes" id="18-24" checked="checked"/>
				    <label class="radio-label" for="18-24">
				      <div class="radio-option">18-24 M</div>
				    </label>
				    <input class="d-none radio-input" type="radio" name="kss-sizes" id="1-2"/>
				    <label class="radio-label" for="1-2">
				      <div class="radio-option">1-2 Y</div>
				    </label>
				    <input class="d-none radio-input" type="radio" name="kss-sizes" id="2-4"/>
				    <label class="radio-label" for="2-4">
				      <div class="radio-option">2-4 Y</div>
				    </label>
				    <input class="d-none radio-input" type="radio" name="kss-sizes" id="5-8"/>
				    <label class="radio-label" for="5-8">
				      <div class="radio-option">5-8 Y</div>
				    </label>
				</div>

				<div class="row mb-4">
					<div class="col-sm-3 col-12">
						<label>Quantity</label>
						<div class="kss-custom-select ">
							<select class="form-control form-control-lg">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
					</div>
					<div class="col-sm-9 col-12 mobile-fixed">
						<div class="text-muted mb-2 mt-1">Additional taxes may apply; charged at checkout</div>
						<button class="btn btn-primary btn-lg btn-block kss-single-prod-add-to-cart">Add to Cart</button>
					</div>
				</div>

				<div class="accordion product-collapse" id="accordionExample">
				  <div class="">
				    <div class="collapse-head" id="headingOne">
				      <h5 class="mb-0 py-1 pl-1 pr-2">
				        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				        	Details
				        </button>
				      </h5>
				    </div>

				    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
				      <div class="card-body">
				        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				      </div>
				    </div>
				  </div>
				  <div class="">
				    <div class="collapse-head" id="headingTwo">
				      <h5 class="mb-0 py-1 pl-1 pr-2">
				        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				        	Additional Info
				        </button>
				      </h5>
				    </div>
				    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
				      <div class="card-body">
				     <dl class="row">
  <dt class="col-sm-3">Format:</dt>
  <dd class="col-sm-9">A description list is perfect for defining terms.</dd>

  <dt class="col-sm-3">Collar:</dt>
  <dd class="col-sm-9">
    <p>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</p>
  </dd>

  <dt class="col-sm-3">Climate:</dt>
  <dd class="col-sm-9">Etiam porta sem malesuada magna mollis euismod.</dd>

  <dt class="col-sm-3">Pattern:</dt>
  <dd class="col-sm-9">Etiam porta sem malesuada magna mollis euismod.</dd>

  <dt class="col-sm-3">Sleeve:</dt>
  <dd class="col-sm-9">Etiam porta sem malesuada magna mollis euismod.</dd>

  <dt class="col-sm-3">Gender:</dt>
  <dd class="col-sm-9">Etiam porta sem malesuada magna mollis euismod.</dd>

   <dt class="col-sm-3">Material:</dt>
  <dd class="col-sm-9">Etiam porta sem malesuada magna mollis euismod.</dd>



</dl>
				      </div>
				    </div>
				  </div>
				  <div class="">
				    <div class="collapse-head" id="headingThree">
				      <h5 class="mb-0 py-1 pl-1 pr-2">
				        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
				        	Reviews
				        </button>
				      </h5>
				    </div>
				    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
				      <div class="card-body">
				        <blockquote class="blockquote mb-4">
						  <h6 class="mb-1"><strong>It fits perfect and he loved it.</strong></h6>
						  <footer class="blockquote-footer"><span class="badge badge-success"><i class="fas fa-star"></i> 4.5 </span> Seema Kothrud, Pune <cite title="Source Title">7 Jul, 2018</cite></footer>
						</blockquote>
						 <blockquote class="blockquote mb-4">
						  <h6 class="mb-1"><strong>I didn't realize you had clothes for 2T and they're super cute and affordable.</strong></h6>
						  <footer class="blockquote-footer"><span class="badge badge-success"><i class="fas fa-star"></i> 4.5 </span> Seema Kothrud, Pune <cite title="Source Title">7 Jul, 2018</cite></footer>
						</blockquote>
					
				      </div>
				    </div>
				  </div>
				</div>

			</div>
		</div>
	</div>

	<div class="kss-related-section py-2 mt-5 bg-light">
		<div class="container">
			<h3 class="text-center my-5 font-weight-bold">Other people also viewed</h3>

			<div class="row px-2 px-sm-0 kss_mobile-list">
				<div class="col-lg-3 col-md-6 mb-4 px-2 px-sm-3 col-6">
				  <div class="card h-100">
				  	<i class="fas fa-heart kss_heart"></i>
				    <a href="#"><img class="card-img-top" src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E" data-imgsrc="{{"img/1front.jpg" | absURL}}" alt=""></a>
				    <div class="card-body">
				      <h5 class="card-title">
				        Cotton Rich Super Skinny Fit Jeans
				      </h5>
				      <h6 class="price">₹899 <strike class="text-muted">₹1134</strike> <span class="text-danger">(20% OFF)</span></h6>
				    </div>
				  </div>
				</div>
				<div class="col-lg-3 col-md-6 mb-4 px-2 px-sm-3 col-6">
				  <div class="card h-100">
				  	<i class="fas fa-heart kss_heart"></i>
				    <a href="#"><img class="card-img-top" src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E" data-imgsrc="{{"img/3front.jpg" | absURL}}" alt=""></a>
				    <div class="card-body">
				      <h5 class="card-title">
				        Cotton Rich Super Skinny Fit Jeans
				      </h5>
				      <h6 class="price">₹899 <strike class="text-muted">₹1134</strike> <span class="text-danger">(20% OFF)</span></h6>
				    </div>
				  </div>
				</div>
				<div class="col-lg-3 col-md-6 mb-4 px-2 px-sm-3 col-6">
				  <div class="card h-100">
				  	<i class="fas fa-heart kss_heart"></i>
				    <a href="#"><img class="card-img-top" src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E" data-imgsrc="{{"img/Artboard 222.jpg" | absURL}}" alt=""></a>
				    <div class="card-body">
				      <h5 class="card-title">
				        Cotton Rich Super Skinny Fit Jeans
				      </h5>
				      <h6 class="price">₹899 <strike class="text-muted">₹1134</strike> <span class="text-danger">(20% OFF)</span></h6>
				    </div>
				  </div>
				</div>
				<div class="col-lg-3 col-md-6 mb-4 px-2 px-sm-3 col-6">
				  <div class="card h-100">
				  	<i class="fas fa-heart kss_heart"></i>
				    <a href="#"><img class="card-img-top" src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E" data-imgsrc="{{"img/Artboard1234.jpg" | absURL}}" alt=""></a>
				    <div class="card-body">
				      <h5 class="card-title">
				        Cotton Rich Super Skinny Fit Jeans
				      </h5>
				      <h6 class="price">₹899 <strike class="text-muted">₹1134</strike> <span class="text-danger">(20% OFF)</span></h6>
				    </div>
				  </div>
				</div>
			</div>

		</div>
	</div>
<br>
{{ end }}