<div id="cd-shadow-layer"></div>

<div id="cd-cart">
	<div class="d-flex ">
		<div class="pr-3 align-items-center">
			<h3 class="modal-title font-weight-bold" >
            	<img class="btn-pay btn-back kss_highlight" src="{{"img/left-arrow.png" | absURL}}" style="width:20px;"/>
          	</h3>
		</div>
	  	<div class="align-items-center">
			<h4 class="modal-title font-weight-bold mt-1 mb-0">
				Request Cancellation
			</h4>
	  	</div>
	  	
	</div>

	<hr class="mb-0">
	<!-- <div class="alert kss_highlight" role="alert">
	<a  id="delivery-pincode"  data-toggle="modal" data-target="#modal_pincode">
	  <strong><i class="kss_marker"></i></strong> Enter Pincode To Delivery
	  <button type="button" class="close" >
	    <label aria-hidden="true" class="kss-link kss_highlight">Check</label>
	  </button>
	</a>
	</div> -->
	<ul class="cd-cart-items">
		<li>
			<div class="row primary-info">
								<div class="col-md-10 col-xl-10 col-10">
									<div class="product-img">
								           <div class="img" style="background-image: url({{"img/thumbnail/6front@thumb.jpg" | absURL}});"></div>
								    </div>
									<div class="product-detail ">
										<div class="product-name text-truncate">
											Cotton Rich Super Skinny Fit Jeans from eewdsfsafwefwefew
										</div>
										<div class="product-size text-muted mb-1">
											<span>Size: 2-4 years</span> <span>|</span> <span>Qty: 2</span>
										</div>
										<div class="product-price">
											<div class="retail-price">
												<span class="rs-symbol">₹</span> <span class="price">869</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-2 col-xl-2 text-right col-2">
									<div class="custom-control custom-checkbox">
										  <input type="checkbox" class="custom-control-input" id="customCheck15">
										  <label class="custom-control-label" for="customCheck15"></label>
										</div>
								</div>
							</div>
		</li>

			<li>
			<div class="row primary-info">
								<div class="col-md-10 col-xl-10 col-10">
									<div class="product-img">
								           <div class="img" style="background-image: url({{"img/thumbnail/6front@thumb.jpg" | absURL}});"></div>
								    </div>
									<div class="product-detail ">
										<div class="product-name text-truncate">
											Cotton Rich Super Skinny Fit Jeans from eewdsfsafwefwefew
										</div>
										<div class="product-size text-muted mb-1">
											<span>Size: 2-4 years</span> <span>|</span> <span>Qty: 2</span>
										</div>
										<div class="product-price">
											<div class="retail-price">
												<span class="rs-symbol">₹</span> <span class="price">869</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-2 col-xl-2 text-right col-2">
									<div class="custom-control custom-checkbox">
										  <input type="checkbox" class="custom-control-input" id="customCheck14">
										  <label class="custom-control-label" for="customCheck14"></label>
										</div>
								</div>
							</div>
		</li>
	</ul>

	<div class="cart-summary mt-4">
		<label>Reason For Cancellation</label>
	<select class="size form-control form-control-sm "  >
										<option selected disabled hidden>Select Reason</option>
										<option>Bought it from somewhere else</option>
										<option>Will be unavailable at home on delivery date</option>
										<option>Order Place by Mistake</option>
										<option>Need to change shipping address</option>
									</select>
	</div>
	

	<div class="seperator mb-5"></div>

	<div id="kss_cart" class="p-3 w-100">
		<a class="btn btn-primary btn-lg btn-block">Confirm Cancellation</a>
	</div>

	{{- partial "coupon.html" . -}}
	{{- partial "sign-in.html" . -}}
	{{- partial "shipping-details.html" . -}}
	{{- partial "shipping-summary.html" . -}}
	{{- partial "payment-details.html" . -}}

</div>