<div id="cd-shadow-layer"></div>

<div id="cd-cart">
	<div class="d-flex align-items-center">
	  <div class="">
		<h3 class="modal-title font-weight-bold">
				Cart <span class="text-muted "><strong>&#183;</strong></span>
			<small class="count text-muted ">2 items</small>
		</h3>
	  </div>
	  <div class="ml-auto align-self-center">
	 	 	<h6 id="cart_close" class="m-0 font-weight-bold kss_highlight"> Cancel</h6>
	  </div>
	</div>

<hr>
<div class="alert kss_highlight" role="alert">
<a  id="delivery-pincode"  data-toggle="modal" data-target="#modal_pincode">
  <strong><i class="kss_marker"></i></strong> Enter Pincode To Delivery
  <button type="button" class="close" >
    <span aria-hidden="true"><i class="fas fa-angle-down"></i></span>
  </button>
</a>
</div>
	<ul class="cd-cart-items">
		<li>
			<div class="primary-info d-flex">
				<div class="product-img">
					<div class="img" style="background-image: url({{"img/4front.jpg" | absURL}});"></div>
				</div>
				<div class="product-detail">
					<label class="m-0">
						Cotton Rich Super Skinny Fit Jeans
					</label>
					<div class="product-size text-muted ">
						<div class="d-flex flex-row">
						  <div class="size-qty align-self-center">
						  	<label class="m-0">Size:</label>
						  </div>
						  <div class="pl-2 pr-4 align-self-center">
						  	<select class="size form-control form-control-sm br-0  border-dark "  >
									<option>1-2 years</option>
									<option>2-3 years</option>
									<option>4-5 years</option>
									<option>6-7 years</option>
								</select>	
						  </div>
						  <div class="qty align-self-center">
						  	<label class="m-0">Qty:</label>
						  </div>
						  <div class="pl-2">
							<select class="size form-control form-control-sm br-0  border-dark "  >
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
								</select>	
						  </div>
						</div>
					</div>
				</div>
				<div class="product-delete ml-2" title="Remove">
					<a href="#0" class="cd-item-remove delete d-block text-center">
						<i class="far fa-trash-alt"></i>
					</a>
				</div>
			</div>

			<div class="secondary-info d-flex justify-content-between align-items-center mt-2">
				<span class="Deliver-date text-success"><i class="fas fa-truck"></i> Arrives: 14 Aug </span>
				<div class="product-price">
					<div class="kss-price kss-price--smaller">₹869 <small class="kss-original-price text-muted">₹1309</small> <span class="kss-discount text-danger">20% OFF</span></div>
				</div>
			</div>

		</li>

		<li>
			<div class="primary-info d-flex">
				<div class="product-img">
					<div class="img kss_disable" style="background-image: url({{"img/4front.jpg" | absURL}});"></div>
				</div>
				<div class="product-detail">
					<label class="m-0">
						Cotton Rich Super Skinny Fit Jeans
					</label>
					<div class="product-size text-muted ">
					<div class="product-quantity d-flex align-items-center">
				
					<div class="d-flex flex-row">
						  <div class="size-qty align-self-center">
						  	<label class="m-0">Size:</label>
						  </div>
						  <div class="pl-2 pr-4 align-self-center">
						  	<select class="size form-control form-control-sm br-0  border-dark "  >
									<option>1-2 years</option>
									<option>2-3 years</option>
									<option>4-5 years</option>
									<option>6-7 years</option>
								</select>	
						  </div>
						  <div class="qty align-self-center">
						  	<label class="m-0">Qty:</label>
						  </div>
						  <div class="pl-2">
							<select class="size form-control form-control-sm br-0  border-dark"  >
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
								</select>	
						  </div>
						</div>
				
				</div>

					</div>
				</div>
				<div class="product-delete ml-2" title="Remove">
					<a href="#0" class="cd-item-remove delete d-block text-center">
						<i class="far fa-trash-alt"></i>
					</a>
				</div>
			</div>

			<div class="secondary-info d-flex justify-content-between align-items-center mt-2">
				<!-- <div class="product-quantity d-flex align-items-center">
					<div class="label small mr-2">
						Qty
					</div>
					<select class="form-control form-control-sm">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
					</select>
					<div class="kss-custom-select">
					</div>
				</div> -->
				<span class="Deliver-date text-success">&nbsp; </span>
				<div class="product-price">
					<div class="kss-price kss-price--smaller text-danger-dark">Out of Stock</div>
				</div>
			</div>

		</li>

	</ul> <!-- cd-cart-items -->
	<div class="row no-gutters">
		<div class="col-7">
   <div class="form-group m-0">
            <input class="form-control form-control-lg br-1" id="name" type="text" placeholder="Enter Promo Code">

  </div>
		</div>
		<div class="col-1">
		</div>
		<div class="col-4">
			<button type="button" class="btn btn-lg btn-outline-primary "> Apply Code</button>
		</div>
	</div>

	<hr>
	<div class="cart-summary mt-4">
		<h4 class="mb-1 font-weight-bold">Cart Summary</h4>
		<p class="sub-text mb-3">Includes GST and all government taxes</p>

		<div class="d-flex justify-content-between py-1">
			<div><label class="text-muted f-w-4 m-0">Total item price</label></div>
			<div> ₹2618 </div>
		</div>
		<div class="d-flex justify-content-between py-1">
			<div><label class="text-muted f-w-4 m-0">Item discount</label></div>
			<div class="text-success">- ₹880</div>
		</div>
		<div class="d-flex justify-content-between py-1">
			<div><label class="text-muted f-w-4 m-0">Shipping fee</label></div>
			<div class="text-success">Free</div>
		</div>
	</div>
	<hr>
	<div class="cd-cart-total">
		<h5 class="font-weight-bold">Total Payable <span>₹869</span></h5>
	</div> <!-- cd-cart-total -->
	<div class="seperator d-block d-md-none mb-5">

	</div>

	<div id="kss_cart" class="p-3 w-100">
		<a  id="checkout" class="btn btn-primary btn-lg btn-block " data-toggle="modal" data-target="#signin">Checkout <span><strong>&#183;</strong></span> ₹869</a>
	</div>

	<!-- <p class="cd-go-to-cart"><a href="#0">Go to cart page</a></p> -->
			{{- partial "sign-in.html" . -}}
			{{- partial "checkout.html" . -}}
			{{- partial "pincode.html" . -}}
			{{- partial "checkout2.html" . -}}
			{{- partial "shipping-details.html" . -}}
			{{- partial "payment-details.html" . -}}
		

</div> <!-- cd-cart -->