<div id="cd-shadow-layer"></div>

<div id="cd-cart">
	<div class="cart-header">
		<div class="d-flex align-items-end">
			<span class="title">Cart</span> <span class="circle"></span> <span class="count text-muted">3 items</span>
		</div>
	</div>

	<ul class="cd-cart-items">
		<li>
			<div class="primary-info d-flex">
				<div class="product-img">
					<div class="img" style=
					"background-image: url({{"img/4front.jpg" | absURL}});">
					</div>
				</div>
				<div class="product-detail">
					<div class="product-name">
						Cotton Rich Super Skinny Fit Jeans
					</div>
					<div class="product-size text-muted mt-2">
						<span>Size: 2-4 years</span>
					</div>
				</div>
				<div class="product-price">
					<div class="retail-price">
						<span class="rs-symbol">₹</span> <span class="price">869</span>
					</div>
					<div class="base-price">
						<div>
							<span class="rs-symbol">₹</span> <span class="price">1309</span>
						</div>
						<div class="perc-off text-danger">
							20% off
						</div>
					</div>
				</div>
			</div>

			<div class="secondary-info d-flex justify-content-between align-items-center mt-2">
				<div class="product-quantity d-flex align-items-center">
					<div class="label small mr-2">
						Qty
					</div>
					<select class="form-control form-control-sm">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
					</select>
					<div class="kss-custom-select">
					</div>
				</div>
				<div class="product-delete ml-2" title="Remove">
					<a href="#0" class="cd-item-remove delete d-block text-center">
						<i class="far fa-trash-alt"></i>
					</a>
				</div>
			</div>

		</li>

		<li>
			<div class="primary-info d-flex">
				<div class="product-img">
					<div class="img" style=
					"background-image: url({{"img/4front.jpg" | absURL}});">
					</div>
				</div>
				<div class="product-detail">
					<div class="product-name">
						Cotton Rich Super Skinny Fit Jeans
					</div>
					<div class="product-size text-muted mt-2">
						<span>Size: 1-2 years</span>
					</div>
				</div>
				<div class="product-price">
					<div class="retail-price">
						<span class="rs-symbol">₹</span> <span class="price">869</span>
					</div>
					<div class="base-price">
						<div>
							<span class="rs-symbol">₹</span> <span class="price">1309</span>
						</div>
						<div class="perc-off text-danger">
							20% off
						</div>
					</div>
				</div>
			</div>

			<div class="secondary-info d-flex justify-content-between align-items-center mt-2">
				<div class="product-quantity d-flex align-items-center">
					<div class="label small mr-2">
						Qty
					</div>
					<select class="form-control form-control-sm">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
					</select>
					<div class="kss-custom-select">
					</div>
				</div>
				<div class="product-delete ml-2" title="Remove">
					<a href="#0" class="cd-item-remove delete d-block text-center">
						<i class="far fa-trash-alt"></i>
					</a>
				</div>
			</div>

		</li>

	</ul> <!-- cd-cart-items -->

	<div class="cart-summary mt-4">
		<h4 class="mb-1">Cart Summary</h4>
		<div class="text-muted small mb-3">Includes GST and all government taxes</div>

		<div class="d-flex justify-content-between py-1">
			<div>Total item price</div>
			<div>₹2618</div>
		</div>
		<div class="d-flex justify-content-between py-1">
			<div>Item discount</div>
			<div>- ₹880</div>
		</div>
		<div class="d-flex justify-content-between py-1">
			<div>Shipping fee</div>
			<div>Free</div>
		</div>
	</div>
	<hr>
	<div class="cd-cart-total">
		<h5 class="font-weight-bold">Total <span>₹1738</span></h5>
	</div> <!-- cd-cart-total -->

	<div class="p-3">
		<a href="/kss/checkout/" class="btn btn-primary btn-lg btn-block">Checkout</a>
	</div>

	<!-- <p class="cd-go-to-cart"><a href="#0">Go to cart page</a></p> -->
</div> <!-- cd-cart -->