<div id="cd-coupon">
  <div class="d-flex ">
    <div class="pr-3 align-items-center">
      <h3 class="modal-title font-weight-bold" >
            <img class="btn-pay btn-back kss_highlight" src="{{"img/left-arrow.png" | absURL}}" style="width:20px;"/>
          </h3>
      
    </div>
    <div class="align-items-center">
    <h3 class="modal-title font-weight-bold mt-1 mb-0">
        Apply Coupon <span class="text-muted "><strong>&#183;</strong></span>
      <small class="count text-muted ">2 items</small>
    </h3>
    </div>
    <div class="ml-auto align-self-center">
       <button class="btn btn-outline-secondary mt-1" >
                           <i class="far fa-heart"></i>

 Wishlist
                </button>
    </div>
  </div>

<hr class="mb-0">

</div>