<div class="slide-out" id="cd-coupon">
		<div class="d-flex pt-2 ">
				<div class="pr-3 align-items-center">
						<h3 class="modal-title font-weight-bold">
							<img class="btn-back kss_highlight cd-coupon-apply" src="{{"img/left-arrow.png" | absURL}}" style="width:20px;"/>
						</h3>
				</div>
				<div class="align-items-center">
						<h3 class="modal-title font-weight-bold mt-1 mb-0">
								Apply Coupon
						</h3>
				</div>
		</div>
		<hr class="mb-0">
				<div class="">
						<h4 class="mb-1 mt-4 font-weight-bold">
								Have a coupon code?
						</h4>
						<div class="form-group">
								<input class="form-control form-control-lg" id="frm-coupon" type="text">
										<label class="control-label">
												Enter coupon code
										</label>
								</input>
						</div>
						<div>
								<button class="btn btn-primary btn-lg btn-block cd-coupon-apply " data-price="869">
										<div class="btn-label-initial">
												Apply
										</div>
								</button>
						</div>
				</div>
		</hr>
</div>