<div class="container pl-2 pl-sm-0 pr-2 pr-sm-0">
<nav class="navbar navbar-expand-lg navbar-light bg-white pl-0 pr-0 pb-0 pt-0">
  <a class="navbar-brand" href="#"><img src="https://media-cdn.kidsuperstore.in/media/logo/stores/1/logo.png" width="200px" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>

  </div>
</nav>
</div>