<div class="header">
  <div class="container pl-2 pl-sm-0 pr-2 pr-sm-0">
    <nav class="navbar navbar-expand-lg pl-0 pr-0 pb-0 pt-0">
        <div class="navbar-toggler hamburger hamburger--collapse" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </div>
        <a class="navbar-brand" href="#">
            <img src="https://media-cdn.kidsuperstore.in/media/logo/stores/1/logo.png" width="200px"/>
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link font-weight-bold" href="#">
                        Home
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link font-weight-bold" href="#">
                        Category
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="#">
                        Boys
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="#">
                        Girls
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="#">
                        Infants
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="#">
                        Toons
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="#">
                        Sports
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="#">
                        Princess
                    </a>
                </li>
            </ul>
        </div>
        <div class="my-2 my-lg-0">
            <ul class="list-inline pt-3">
                <li class="list-inline-item">
                    <a href="#">
                        <i class="fas fa-search"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#loginModal" data-toggle="modal" data-target="#loginModal">
                        <i class="far fa-user"></i>
                    </a>
                </li>
                <li class="list-inline-item pr-3 pl-2">
                    <a id="cd-cart-trigger" href="#">
                        <i class="fas fa-shopping-bag"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
  </div>
</div>
{{- partial "breadcrumb.html" . -}}