<!-- Login/Signup Modal -->
<div class="modal fade bd-example-modal-lg" id="loginModal" tabindex="-1" role="dialog" >
  <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
    <div class="modal-content ">
     <!--  <div class="modal-header border-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->
      <div class="modal-body  p-0">

        <!-- Sign in -->
        <div class="row no-gutters">
            <div class="col-md-6 d-none d-md-block" style="background:#f9ea20;">
              <img src="{{"img/sign-in.jpg" | absURL}}" >
            </div>
            <div class="col-md-6  p-4">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
              <div class="sign-div ">
         
                <h3 class="modal-title mt-4">Sign in to Kidsuperstore.in</h3>
                <p class="text-muted">Your favourite shopping destination now one click way.</p>
                <form>
                  <div class="form-group mb-0">
                    <input type="number" class="form-control form-control-number form-control-lg" id="frm-mobile"  placeholder=" ">
                    <label class="control-label">Enter Mobile Number</label>
                  </div>
                </form>
                <div class="mt-3">
                  <button type="button" class="btn btn-primary btn-block btn-lg login-btn">Send OTP <i class="fas fa-angle-right mt-2 position-absolute r-0"></i></button>
                 
                </div>
                 
                </form>
              </div>
                <div class="verify-div d-none">
         
                <h3 class="modal-title mt-4">Verfiy mobile number</h3>
               
                <form class="mt-3">
            <div class="form-group text-center mb-0">
              <p >Enter the OTP sent to your number</p><h4 class="font-weight-bold m-0">+91 840791773 <i class="fas fa-pencil-alt number-edit"></i></h4>
              <input type="number" class="form-control form-control-number form-control-lg text-center mb-2" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
              <small> Resend OTP in 18 sec</small>
            </div>
          </form>
          <div class="mt-3">
            <button id="shipping-details" type="button" class="btn btn-primary  btn-block btn-lg btn-verify" data-toggle="modal" data-target="#checkout-flow">Verify <i class="fas fa-angle-right position-absolute r-0 mt-2"></i></button>
          </div>
              </div>
            </div>
        </div>
        <!-- <div class="sign-in-box active">
          <h3 class="modal-title text-center mb-4">Sign in to Kidsuperstore.in</h3>
          <form>
            <div class="form-group mb-0">
              <input type="number" class="form-control form-control-number form-control-lg" id="frm-mobile"  placeholder=" ">
              <label class="control-label">Enter Mobile Number</label>
            </div>
          </form>
          <div class="mt-3">
            <button type="button" class="btn btn-primary btn-block btn-lg btn-signin">Send OTP <i class="fas fa-angle-right mt-2 position-absolute r-0"></i></button>
          </div>
           
          </form>
        </div> -->


      </div>

     
    </div>
  </div>
</div>