<div class="kss_payment d-none">
  <div class="scroll-container">
<nav class="navbar navbar-dark bg-dark pt-3 pb-3 position-sticky">
  <div class="row no-gutters w-100">
    <div class="col-8 col-xl-9">
    <img src="{{"img/logo-kss.png" | absURL}}" xpreview="{{"img/logo-kss.png" | absURL}}" class=" img-fluid m-0" width="180px">
     </div>
     <div class="col text-white secure-label">
      <i class="fas fa-lock float-left mr-2"></i>SECURE<br>
      CHECKOUT
     </div>
  </div>
</nav>
<div class="py-3 px-3">
    <div class="row no-gutter">
            <div class="col-8">
              <h3 class="modal-title font-weight-bold" id="exampleModalLabel">Pay with</h3>
            </div>
            <div class="col-4 text-right">
                  <h6 class="text-muted mt-2">STEP: 3 / 3</h6>
            </div>
        </div>
        <hr>
         <div class="row no-gutter">
            <div class="col-8">
             <h4 class="font-weight-bold text-success">You Pay ₹869</h4>
            </div>
            <div class="col-4 text-right">
              <a class="font-weight-bold kss-link" data-toggle="collapse" href="#cartsummary" role="button" aria-expanded="false" aria-controls="collapseExample">View Details</a>
               
            </div>
        </div>
        <div class="cart-summary mt-4 collapse"  id="cartsummary">
          <div class="d-flex justify-content-between py-1">
            <div>Total item price</div>
            <div>₹2618</div>
          </div>
          <div class="d-flex justify-content-between py-1">
            <div>Item discount</div>
            <div class="text-success">- ₹880</div>
          </div>
          <div class="d-flex justify-content-between py-1">
            <div>Shipping fee</div>
            <div class="text-success">Free</div>
          </div>
        </div>
        <div class="seperator"></div>
        <h5 class="font-weight-bold ">Payment Methods</h5>
        <br>
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action">
                <div class="custom-control custom-radio mt-1">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Pay Online
                     <img src="{{"img/payu.png" | absURL}}" xpreview="{{"img/payu.png" | absURL}}" class=" mt-1 ml-3" width="40px" height="20px">
                  </label>
                </div>
          </a>
          <a href="#" class="list-group-item list-group-item-action">
              <div class="custom-control custom-radio mt-1">
              <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
              <label class="custom-control-label" for="customRadio2">Cash on Delivery</label>
            </div> 
          </a>
</div> 
   </div>
   </div>
</div>