<div class="modal fade" id="modal_pincode" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-body">
        <div class="row no-gutter">
            <div class="col-9">
              <h3 class="modal-title font-weight-bold" id="exampleModalLabel">Deliver To</h3>
            </div>
            <div class="col-3">
                <h6 class="float-right font-weight-bold mt-2" data-dismiss="modal" aria-label="Close">
                 Cancel
                </h6>
            </div>

        </div>

<div class="row">
 <div class="col-12">
  <div class="radio-wrap d-flex kss_sizes wo-image mt-4">
            <input class="d-none radio-input" type="radio" name="kss-sizes" id="m1" checked="checked"/>
            <label class="radio-label text-left" for="m1">
              <div class="radio-option text-left">Amit Shah <br> Sindhudurg - 416510</div>
            </label>
            <input class="d-none radio-input text-left" type="radio" name="kss-sizes" id="m2"/>
            <label class="radio-label " for="m2">
              <div class="radio-option text-left">Neha Singh <br> Maharashta - 400301</div>
            </label>
          
        </div>
  </div>
</div>
<div class="row mt-3">
    <div class="col-12">
      
 <div class="form-group ">
        <input class="form-control form-control-lg" id="name" type="text">
        <label class="control-label">0R Enter Pincode</label>
</div>
    </div>
    
</div>
<hr>
              <div class="mt-3">
                <button type="button" class="btn btn-primary btn-block btn-lg" data-dismiss="modal" aria-label="Close">Confirm</button>
              </div>
            </div>
          </div>
       </div>
  </div>
</div>