<div class="kss_shipping">
  <div class="scroll-container">
<nav class="navbar navbar-dark bg-dark pt-3 pb-3 position-sticky">
  <div class="row no-gutter">
    <div class="col-8">
    <img src="{{"img/logo-kss.png" | absURL}}" xpreview="{{"img/logo-kss.png" | absURL}}" class=" img-fluid m-0">
     </div>
     <div class="col-4 text-white secure-label">
      <i class="fas fa-lock float-left mr-2"></i>SECURE
      CHECKOUT
     </div>
  </div>
</nav>
<div class="py-3 px-3">
    <div class="row no-gutter">
            <div class="col-8">
              <h3 class="modal-title font-weight-bold" id="exampleModalLabel">Ship To</h3>
            </div>
            <div class="col-4 text-right">
                  <h6 class="text-muted mt-2">STEP: 2 / 3</h6>
            </div>
        </div>
        <hr>
        <h4 class="font-weight-bold ">Add New Address</h4>
        <br>
             <div class="row">

                                  <div class="col-md-6">
                                      <!--firstName-->
                                      <div class="form-group ">
                                          <label class="" for="name">
                                              Name *
                                          </label>
                                          <input class="form-control form-control-lg" id="name" type="text">
                                      </div>
                                  </div>


                                  <div class="col-md-6">
                                      <!--lastName-->
                                      <div class="form-group">
                                          <label class="" for="email-address">
                                              Email Address *
                                          </label>
                                          <input class="form-control form-control-lg" id="email-address" type="text">
                                      </div>
                                  </div>
                </div>
                <div class="row">

                                  <div class="col-md-12">
                                      <!--firstName-->
                                      <div class="form-group ">
                                          <label class="" for="mobile">
                                              Mobile No *
                                          </label>
                                          <input class="form-control form-control-lg" id="mobile" type="text">
                                      </div>
                                  </div>

                </div>
                 <div class="row">

                                  <div class="col-md-12">
                                      <!--firstName-->
                                      <div class="form-group ">
                                          <label class="" for="Address">
                                              Address *
                                          </label>
                                           <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                      </div>
                                  </div>

                </div>
                 <div class="row">

                                  <div class="col-md-6">
                                      <!--firstName-->
                                      <div class="form-group ">
                                          <label class="" for="pincode">
                                              Pincode *
                                          </label>
                                          <input class="form-control form-control-lg" id="pincode" type="text">
                                      </div>
                                  </div>


                                  <div class="col-md-6">
                                      <!--lastName-->
                                      <div class="form-group">
                                          <label class="" for="locality">
                                              Locality/Town *
                                          </label>
                                          <input class="form-control form-control-lg" id="locality" type="text">
                                      </div>
                                  </div>
                </div>
                 <div class="row">

                                  <div class="col-md-6">
                                      <!--firstName-->
                                      <div class="form-group ">
                                          <label class="" for="city">
                                              City District *
                                          </label>
                                          <input class="form-control form-control-lg" id="city" type="text">
                                      </div>
                                  </div>


                                  <div class="col-md-6">
                                      <!--lastName-->
                                      <div class="form-group">
                                          <label class="" for="state">
                                              State *
                                          </label>
                                          <input class="form-control form-control-lg" id="state" type="text">
                                      </div>
                                  </div>
                </div>
                 <div class="row">

                                  <div class="col-md-12">
                                      <!--firstName-->
                                   <div class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input" id="customCheck1">
                                      <label class="custom-control-label" for="customCheck1">Make this my default address</label>
                                    </div>
                                  </div>

                </div>
                 <div class="row mt-4">

                                  <div class="col-7">
                                     <h5 class="font-weight-bold">Billing Address</h5>
                                     <p>The Billing Address is the same as the Shipping Address</p>
                                  </div>
                                  <div class="col-5 text-right">
                                     <h6><i class="fas fa-edit"></i> Change</h6>
                                  </div>

                </div>
                <div class="seperator">
                 </div> 
                <div class="fixed-bottom d-none">
                    <div class="row no-gutters px-1 py-1">
                        <div class="col-6">
                            <a class=" text-center d-block mt-3" href="#">
                              <h5>Cancel</h5>
                            </a>
                        </div>
                        <div class="col-6 text-center">
                            <button type="button" class="btn btn-lg btn-block btn-primary mt-1 mb-1">Save</button>
                        </div>
                    </div>
                </div>
   </div>
   </div>
</div>