{{ define "main" }}
	<div class="container mt-3">
		<div class="row">
			<div class="col-12">
				<div class="d-none d-md-block mb-4">
					   <nav aria-label="breadcrumb">
	                    <ol class="breadcrumb mb-1 bg-transparent p-0">
	                        <li class="breadcrumb-item"><a href="#">Home</a></li>
	                        <li class="breadcrumb-item"><a href="/kss/account/orders/">Accounts</a></li>
	                        <li class="breadcrumb-item active"><a href="#">Order Details</a></li>
	                    </ol>
	                  </nav>
                 </div>
                 	<div >
               <div class="d-flex align-items-top top-navbar">
		            <div class="pr-3">
		            	<a href="/kss/account/orders/">
		              <h4 id="back-to-orders" class="m-0 font-weight-bold kss_highlight">
		                <img class="btn-back kss_highlight" src="{{"img/left-arrow.png" | absURL}}" style="width:20px;"/>
		              </h4>
		          </a>
		            </div>
		            <div class="">
		              <h4 class="font-weight-bold m-0">Order Details</h4>
		            </div>
		             <div class="ml-auto d-none d-md-block">
		              <button type="button" class="btn btn-outline-dark"><i class="fas fa-print"></i> Print Invoice</button>
		            </div>
		          </div>
		       
		      </div>
              
			</div>
		</div>
		<div class="row mt-0 mt-md-2">

			<div class="col-12 col-xl-8 col-lg-8">
				<hr>
				<div class="row justify-content-end">
					<div class="col">
						Order No.
					  	<h6 class="font-weight-bold mt-1 ">#ABCD-2134E-PQRS-02</h6>
					</div>
					<div class="col">
						Total amount:
					  	<h6 class="font-weight-bold mt-1 ">₹ 869 for 1 item </h6>
					</div>
					<div class="col-xl-2 col-sm-3  mt-3 mt-md-0">
						Placed on:
					  	<h6 class="font-weight-bold mt-1 "><i class="far fa-calendar-alt"></i> 20 Aug 2018 </h6>
					</div>

				</div>
				<!-- <div class="d-flex bd-highlight">
					  <div class=" pr-5">
					  	Order No.
					  	<h6 class="font-weight-bold mt-1 text-dark">#1234-1234-3434</h6>
					  </div>
					  <div class="">
					  	Total amount:
					  	<h6 class="font-weight-bold mt-1 text-dark">₹ 2,519 for 3 items </h6>
					  </div>
					  <div class=" ml-auto">
					  	Placed on:
					  	<h6 class="font-weight-bold mt-1 text-dark"><i class="far fa-calendar-alt"></i> 20 Aug 2018 </h6>
					  </div>
					</div> -->
					<hr class="mb-5">
					<div class="d-flex bd-highlight">
					  <div class="pb-2 pr-5">
					  	<label class="d-block m-0">Product Details</label>
								<i class="fas fa-exclamation-circle mr-1 text-muted"></i>
							   <span class="text-danger font-weight-bold"> Payment Failed</span>
					  </div>
					  <div class="pb-2 ml-auto">
					  	Total:
					  	<h6 class="mt-1">₹ 869 for 1 item</h6>
					  </div>
					</div>
				  <div id="kss_shipment" class="card shadow-sm mt-2 mb-5">
				  <div class="card-body">
				    <div class="primary-info d-lg-flex d-xl-flex">
					
					<div class="kss_product_list flex-grow-1 pr-0 pr-md-4">
							<a href="/kss/product/" class="text-black">
							<div class="product-img">
										<div class="img" style="background-image: url({{"img/4front.jpg" | absURL}});"></div>
									</div>
									<div class="product-detail">
										<div class="product-name text-truncate">
											Cotton Rich Super Skinny Fit Jeans
										</div>
										<div class="product-size text-muted mb-1">
											<span>Size: 2-4 years</span> <span>|</span> <span>Qty: 1</span>
										</div>
										<div class="product-price">
											<div class="retail-price">
												<span class="rs-symbol">₹</span> <span class="price">869</span>
											</div>
										</div>
									
									</div>
								</a>
								<hr class="mt-4 mb-4">
									<div class="product-img">
										<div class="img" style="background-image: url({{"img/4front.jpg" | absURL}});"></div>
									</div>
									<div class="product-detail">
										<div class="product-name text-truncate">
											Cotton Rich Super Skinny Fit Jeans
										</div>
										<div class="product-size text-muted mb-1">
											<span>Size: 2-4 years</span> <span>|</span> <span>Qty: 1</span>
										</div>
										<div class="product-price">
											<div class="retail-price">
												<span class="rs-symbol">₹</span> <span class="price">869</span>
											</div>
										</div>
									
									</div>
					</div>
					<div class="ml-auto mt-4 mt-md-0 col-12 col-xl-3 col-lg-3  p-0">
						<button type="button" class="btn btn-outline-dark btn-block">Cancel Item</button>
						<button type="button" class="btn btn-primary btn-block"> <i class="fas fa-redo"></i> Retry Payment</button>
						<br>
						 <sm><i class="fas fa-exclamation-circle mr-1 "></i> Facing Issue For Online Payment Try Cash on Delivery</sm>
					</div>

					</div>

				  </div>
				</div>
				<div class="d-flex  align-self-center mb-4">
				<label><i class="fas fa-question-circle fa-1x "></i> Need help with this order? <a href="#">Visit our help center</a></label>
				</div>
				
			</div>
			
			<div class="col-12 col-xl-4 col-lg-4">
                 <label class="">Payment Information</label>
                 <div class="alert alert-danger" role="alert">
						 <i class="fas fa-exclamation-circle mr-1 "></i> Your bank hasn't confirmed this payment. We will continue to check for status with your bank. Please try again in 4 hours.
					</div>
                 <div class="card shadow-sm">
                 	
				  <div class="card-body text-muted d-flex">
				    Payment Mode:<i class="icon-master-card mr-1 ml-1"></i> <strong>ending in 1333</strong> 

				  </div>
				</div>

				 <label class="mt-4">Shipping Address</label>
                 <div class="card shadow-sm">
				  <div class="card-body">
				  
									<h3 class="kss-title font-weight-bold text-muted">Amit Shah</h3>
								<p class="text-muted">
									Maharaja Sayaji Gaikwad Udyog Bhawan Survey Number 152-152, Pune, Maharashtra 411007
								</p>
								<p class="text-muted">
									Mobile: <b class="font-weight-bold">+91 8407917773</b>
								</p>
						
				  </div>
				</div>
				<label class="mt-4">Order Summary</label>
                 <div class="card shadow-sm">
				  <div class="card-body">

      <div class="d-flex justify-content-between py-1">
        <div>
          <label class="text-muted f-w-4 m-0">
            Cart Total
          </label>
        </div>
        <div> ₹1309 </div>
      </div>
      <div class="d-flex justify-content-between py-1">
        <div><label class="text-muted f-w-4 m-0">Cart Discount</label></div>
        <div class="text-success">- ₹440</div>
      </div>
      <div class="d-flex justify-content-between py-1">
        <div><label class="text-muted f-w-4 m-0">Estimated Tax</label></div>
        <div>₹180</div>
      </div>
      <div class="d-flex justify-content-between py-1">
        <div><label class="text-muted f-w-4 m-0">Coupon Discount</label></div>
        <div class="text-success">- ₹20</div>
      </div>

    <div class="d-flex justify-content-between py-1">
      <div>
        <label class="text-muted f-w-4 m-0">
          Order Total 
        </label>
      </div>
      <div> ₹1029 </div>
    </div>
    <div class="d-flex justify-content-between py-1">
      <div><label class="text-muted f-w-4 m-0">Shipping Fee</label></div>
      <div class="">₹100</div>
    </div>
    <hr class="dashed">
    <div class="cd-cart-total">
    <h5 class="font-weight-bold">Total <span>₹ 2,519</span></h5>
  </div>
  </div>
 
   </div>
				  </div>
				</div>
			</div>
					<div id="similar" class="container">
		<hr class="mt-5" >
		<h3 class="text-left my-4 font-weight-bold">Customers who bought Cotton Rich Super Skinny Fit Jeans also bought</h3>
	  <div id="card-list" class="row">
            <div class="col-lg-3 col-md-6 mb-4 col-6  ">
              <div class="card h-100 product-card">
              	<i class="fas fa-heart kss_heart"></i>
                <a href="/kss/product/" >
                  <div class="image oh loading loading-01">
                  <img data-src="{{"img/normal/bluefront@1x.jpg" | absURL}}" data-srcset="{{"img/normal/bluefront@1x.jpg" | absURL}} 1x, {{"img/2x/bluefront@2x.jpg" | absURL}} 2x" class="lazyload card-img-top" />
                 </div>
                </a>
                <div class="card-body">
                  <a href="/kss/product/" class="text-dark">
                    <h5 class="card-title">
                      Cotton Rich Super Skinny Fit Jeans
                    </h5>
                  </a>
                  <div class="kss-price kss-price--smaller">₹869 <small class="kss-original-price text-muted">₹1309</small><span class="kss-discount text-danger">20% OFF</span></div>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 col-6  ">
           	  <div class="card h-100 product-card">
           	 		<i class="fas fa-heart kss_heart"></i>
                <a href="/kss/product/">
                   <div class="image oh loading loading-02">
                  <img data-src="{{"img/normal/orangefront@1x.jpg" | absURL}}" data-srcset="{{"img/normal/orangefront@1x.jpg" | absURL}} 1x, {{"img/2x/orangefront@2x.jpg" | absURL}} 2x" class="lazyload card-img-top" />
                </div>
                </a>
                <div class="card-body">
                  <a href="/kss/product/" class="text-dark">
                    <h5 class="card-title">
                      Cotton Rich Super Skinny Fit Jeans
                    </h5>
                  </a>
                  <div class="kss-price kss-price--smaller">₹869 <small class="kss-original-price text-muted">₹1309</small><span class="kss-discount text-danger">20% OFF</span></div>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 col-6   ">
              <div class="card h-100 product-card">
              	<i class="fas fa-heart kss_heart"></i>
                <a href="/kss/product/">
                   <div class="image oh loading loading-03">
                        <img data-src="{{"img/normal/red1front@1x.jpg" | absURL}}" data-srcset="{{"img/normal/red1front@1x.jpg" | absURL}} 1x, {{"img/2x/red1front@2x.jpg" | absURL}} 2x" class="lazyload card-img-top" />
                    </div>
                </a>
                <div class="card-body">
                  <a href="/kss/product/" class="text-dark">
                    <h5 class="card-title">
                      Cotton Rich Super Skinny Fit Jeans
                    </h5>
                  </a>
                  <div class="kss-price kss-price--smaller">₹869 <small class="kss-original-price text-muted">₹1309</small><span class="kss-discount text-danger">20% OFF</span></div>
                </div>
              </div>
            </div>
                <div class="col-lg-3 col-md-6 mb-4 col-6 ">
              <div class="card h-100 product-card">
                <i class="fas fa-heart kss_heart"></i>
                <a href="/kss/product/">
                   <div class="image oh loading loading-04">
                   <img data-src="{{"img/normal/redbluefront@1x.jpg" | absURL}}"  data-srcset="{{"img/normal/redbluefront@1x.jpg" | absURL}} 1x, {{"img/2x/redbluefront@2x.jpg" | absURL}} 2x" class="lazyload card-img-top" />
                 </div>
                </a>
                <div class="card-body">
                  <a href="/kss/product/" class="text-dark">
                    <h5 class="card-title">
                      Cotton Rich Super Skinny Fit Jeans
                    </h5>
             	    </a>
                  <div class="kss-price kss-price--smaller">₹869 <small class="kss-original-price text-muted">₹1309</small><span class="kss-discount text-danger">20% OFF</span></div>
                </div>
              </div>
            </div>
        </div>
	</div>
		</div>
	</div>
{{ end }}