{{ define "main" }}
	<div class="container mt-3 ">
		<div class="d-none d-sm-block">
			   <nav aria-label="breadcrumb ">
                    <ol class="breadcrumb mb-1 bg-transparent p-0">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active"><a href="#">Accounts</a></li>
                    </ol>
                  </nav>
                 <h1 class="w-100 kss-title m-0 text-gray font-weight-bold ">
                   Account
                 </h1>
	
		<h6 class="text-muted mb-4">Peter Smith</h6>
	</div>
	<div class="d-block d-md-none text-center p-4">
                 <h1 class="w-100 kss-title m-0 text-gray font-weight-bold ">
                   Hello Amit
                 </h1>
	
		<h6 class="text-muted">amit@ajency.in</h6>
	</div>
		<hr class="m-0">

		<div class="row">
			<div class="col-sm-3 col-lg-2 border-right">
				{{- partial "account_menu.html" . -}}
			</div>
			<div class="col-sm-9 col-lg-10 slide-right-fixed">
				<div class=" p-md-4 p-0">
					<h4>My Orders</h4>
					<hr>

					<h6 class="font-weight-bold mt-4">Order No. #ABCD-21343-PQRS-02  </h6>
				<h6 class="mb-3">Placed on 20 Aug 2018  </h6>
					<ul class="cd-cart-items list-unstyled">
						<li class="p-md-3 p-2 mb-3 card shadow-sm ">
							<div class="row primary-info">
								<div class="col-md-7 col-xl-6">
									<div class="product-img">
								           <div class="img" style="background-image: url({{"img/thumbnail/6front@thumb.jpg" | absURL}});"></div>
								    </div>
									<div class="product-detail ">
										<div class="product-name text-truncate">
											Cotton Rich Super Skinny Fit Jeans from eewdsfsafwefwefew
										</div>
										<div class="product-size text-muted mb-1">
											<span>Size: 2-4 years</span> <span>|</span> <span>Qty: 2</span>
										</div>
										<div class="product-price">
											<div class="retail-price">
												<span class="rs-symbol">₹</span> <span class="price">869</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-xl-6">
									<div class="retail-price mt-2 mt-md-0">
												<i class="fas fa-inbox mr-1 text-muted"></i><span class="text-success font-weight-bold">In Transit</span>
												<span class="font-weight-bold">(Arriving 30 Aug)</span>
									</div>
									
									</div>
									<div class="dropdown">
										<i class="cursor-pointer fas fa-ellipsis-v fa-2x text-light" id="card-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
										  <div class="dropdown-menu dropdown-menu-right shadow-lg" aria-labelledby="card-menu">
										    <button class="dropdown-item" type="button">Track Item</button>
										    <button class="dropdown-item cancel-trigger" type="button"  >Cancel Item</button>
										    <button class="dropdown-item" type="button"> <a href="/kss/account/orders-details/" class="text-black">View Order Details</a></button>
										  </div>
										</div>
								</div>
						</li>
						<li class="p-md-3 p-2 mb-3 card shadow-sm">
									<div class="row primary-info">
								<div class="col-md-7 col-xl-6">
									<div class="product-img">
								           <div class="img" style="background-image: url({{"img/thumbnail/6front@thumb.jpg" | absURL}});"></div>
								    </div>
									<div class="product-detail">
										<div class="product-name text-truncate">
											Cotton Rich Super Skinny Fit Jeans
										</div>
										<div class="product-size text-muted mb-1">
											<span>Size: 2-4 years</span> <span>|</span> <span>Qty: 2</span>
										</div>
										<div class="product-price">
											<div class="retail-price">
												<span class="rs-symbol">₹</span> <span class="price">869</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-xl-6">
									<div class="retail-price mt-2 mt-md-0">
												<i class="fas fa-truck mr-1 text-muted"></i> <span class="text-success font-weight-bold">Ready To Ship</span>
									</div>
								
									</div>
										<div class="dropdown">
										<i class="cursor-pointer fas fa-ellipsis-v fa-2x text-light" id="card-menu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
										  <div class="dropdown-menu dropdown-menu-right shadow-lg" aria-labelledby="card-menu1">
										    <button class="dropdown-item" type="button">Track Item</button>
										    <button class="dropdown-item cancel-trigger" type="button"  >Cancel Item</button>
										    <button class="dropdown-item" type="button"> <a href="/kss/account/orders-details-ready-to-ship/" class="text-black">View Order Details</a></button>
										  </div>
										</div>
								</div>
						</li>
						<li class="p-md-3 p-2 mb-3 card shadow-sm">

								<div class="row primary-info">
								<div class="col-md-7 col-xl-6">
									<div class="product-img">
								           <div class="img" style="background-image: url({{"img/thumbnail/6front@thumb.jpg" | absURL}});"></div>
								    </div>
									<div class="product-detail">
										<div class="product-name text-truncate">
											Cotton Rich Super Skinny Fit Jeans
										</div>
										<div class="product-size text-muted mb-1">
											<span>Size: 2-4 years</span> <span>|</span> <span>Qty: 2</span>
										</div>
										<div class="product-price">
											<div class="retail-price">
												<span class="rs-symbol">₹</span> <span class="price">869</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-xl-6">
									<div class="retail-price mt-2 mt-md-0">
												<i class="fas fa-clipboard-check mr-1 text-muted"></i> <span class="text-success font-weight-bold">Order Processed</span>
									</div>
									
									</div>
									<div class="dropdown">
										<i class=" cursor-pointer fas fa-ellipsis-v fa-2x text-light" id="card-menu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
										  <div class="dropdown-menu dropdown-menu-right shadow-lg" aria-labelledby="card-menu2">
										     <button class="dropdown-item cancel-trigger" type="button"  >Cancel Item</button>
										    <button class="dropdown-item" type="button"> <a href="/kss/account/orders-details-processed/" class="text-black">View Order Details</a></button>
										  </div>
										</div>
								</div>
						</li>
						<li class="p-md-3 p-2 mb-3 card shadow-sm ">
							<div class="row primary-info">
								<div class="col-md-7 col-xl-6">
									<div class="product-img">
								           <div class="img" style="background-image: url({{"img/thumbnail/6front@thumb.jpg" | absURL}});"></div>
								    </div>
									<div class="product-detail">
										<div class="product-name text-truncate">
											Cotton Rich Super Skinny Fit Jeans
										</div>
										<div class="product-size text-muted mb-1">
											<span>Size: 2-4 years</span> <span>|</span> <span>Qty: 2</span>
										</div>
										<div class="product-price">
											<div class="retail-price">
												<span class="rs-symbol">₹</span> <span class="price">869</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-xl-6">
									<div class="retail-price mt-2 mt-md-0">
												<i class="fas fa-clock mr-1 text-muted"></i><span class="text-success font-weight-bold">Out For Delivery</span>
												<span class="font-weight-bold">(Today)</span>
									</div>
								
									</div>
										<div class="dropdown">
										<i class="cursor-pointer fas fa-ellipsis-v fa-2x text-light" id="card-menu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
										<div class="dropdown-menu dropdown-menu-right shadow-lg" aria-labelledby="card-menu3">
										    <button class="dropdown-item" type="button">Track Item</button>
										    <button class="dropdown-item" type="button"> <a href="/kss/account/orders-details/" class="text-black">View Order Details</a></button>
										  </div>
										</div>
								</div>
						</li>
					</ul>
					<hr class="mb-5">

					
					<div class="d-flex bd-highlight align-items-center">
					  <div class=" w-100 ">
					  	<h6 class="font-weight-bold mt-4">Order No. #RBCD-21343-PQRS-02 </h6>
					  	<h6 class="mb-3">Placed on 20 Aug 2018  </h6>
					  </div>
					  <div class=" ml-auto ">
					  	<button type="button" class="btn btn-primary"><i class="fas fa-redo"></i> Retry Payment</button>
					  </div>
					</div>
					<ul class="cd-cart-items list-unstyled">
					<li class="p-md-3 p-2 mb-3 card shadow-sm">
						<div class="row primary-info">
								<div class="col-md-7 col-xl-6">
									<div class="product-img">
								           <div class="img" style="background-image: url({{"img/thumbnail/6front@thumb.jpg" | absURL}});"></div>
								    </div>
									<div class="product-detail">
										<div class="product-name text-truncate">
											Cotton Rich Super Skinny Fit Jeans
										</div>
										<div class="product-size text-muted mb-1">
											<span>Size: 2-4 years</span> <span>|</span> <span>Qty: 2</span>
										</div>
										<div class="product-price">
											<div class="retail-price">
												<span class="rs-symbol">₹</span> <span class="price">869</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-xl-6">
									<div class="retail-price mt-2 mt-md-0">
										<i class="fas fa-exclamation-circle mr-1 text-muted"></i>
										<span class="text-danger font-weight-bold">Payment Failed</span>
									</div>
									
									</div>
									<div class="dropdown">
										<i class="cursor-pointer fas fa-ellipsis-v fa-2x text-light" id="card-menu42" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
										<div class="dropdown-menu dropdown-menu-right shadow-lg" aria-labelledby="card-menu42">
										    <button class="dropdown-item" type="button"> <a href="/kss/account/orders-details-failed/" class="text-black">View Order Details</a></button>
										  </div>
										</div>
								</div>
						</li>
						<li class="p-md-3 p-2 mb-3 card shadow-sm">
						<div class="row primary-info">
								<div class="col-md-7 col-xl-6">
									<div class="product-img">
								           <div class="img" style="background-image: url({{"img/thumbnail/6front@thumb.jpg" | absURL}});"></div>
								    </div>
									<div class="product-detail">
										<div class="product-name text-truncate">
											Cotton Rich Super Skinny Fit Jeans
										</div>
										<div class="product-size text-muted mb-1">
											<span>Size: 2-4 years</span> <span>|</span> <span>Qty: 2</span>
										</div>
										<div class="product-price">
											<div class="retail-price">
												<span class="rs-symbol">₹</span> <span class="price">869</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-xl-6">
									<div class="retail-price mt-2 mt-md-0">
												<i class="fas fa-exclamation-circle mr-1 text-muted"></i>
												<span class="text-danger font-weight-bold"> Payment Failed</span>
									</div>
									
									</div>
									<div class="dropdown">
										<i class=" cursor-pointer fas fa-ellipsis-v fa-2x text-light" id="card-menu43" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
										<div class="dropdown-menu dropdown-menu-right shadow-lg" aria-labelledby="card-menu43">
										    <button class="dropdown-item" type="button"> <a href="/kss/account/orders-details-failed/" class="text-black">View Order Details</a></button>
										  </div>
										</div>
								</div>
						</li>
					</ul>

					<hr class="mb-5">

					<h6 class="font-weight-bold mb-2 ">Order No. #ABCD-21343-PQRS-02 </h6>
					<h6 class="mb-3">Placed on 20 Aug 2018  </h6>
					<ul class="cd-cart-items list-unstyled">
					<li class="p-md-3 p-2 mb-3 card shadow-sm ">
						<div class="row primary-info">
								<div class="col-md-7 col-xl-6">
									<div class="product-img">
								           <div class="img" style="background-image: url({{"img/thumbnail/6front@thumb.jpg" | absURL}});"></div>
								    </div>
									<div class="product-detail">
										<div class="product-name text-truncate">
											Cotton Rich Super Skinny Fit Jeans
										</div>
										<div class="product-size text-muted mb-1">
											<span>Size: 2-4 years</span> <span>|</span> <span>Qty: 2</span>
										</div>
										<div class="product-price">
											<div class="retail-price">
												<span class="rs-symbol">₹</span> <span class="price">869</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-xl-6">
									<div class="retail-price mt-2 mt-md-0">
												<i class="fas fa-undo-alt mr-1 text-muted"></i><span class="text-warning font-weight-bold">Return Requested</span>
									</div>
									
									</div>
									<div class="dropdown">
										<i class="cursor-pointer fas fa-ellipsis-v fa-2x text-light" id="card-menu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
										<div class="dropdown-menu dropdown-menu-right shadow-lg" aria-labelledby="card-menu4">
										      <button class="dropdown-item" type="button">Track Item</button>
										     <button class="dropdown-item cancel-trigger" type="button"  >Cancel Item</button>
										    <button class="dropdown-item" type="button"> <a href="/kss/account/orders-details-return/" class="text-black">View Order Details</a></button>
										  </div>
										</div>
								</div>
						</li>
						<li class="p-md-3 p-2 mb-3 card shadow-sm ">
								<div class="row primary-info">
								<div class="col-md-7 col-xl-6">
									<div class="product-img">
								           <div class="img" style="background-image: url({{"img/thumbnail/6front@thumb.jpg" | absURL}});"></div>
								    </div>
									<div class="product-detail">
										<div class="product-name text-truncate">
											Cotton Rich Super Skinny Fit Jeans
										</div>
										<div class="product-size text-muted mb-1">
											<span>Size: 2-4 years</span> <span>|</span> <span>Qty: 2</span>
										</div>
										<div class="product-price">
											<div class="retail-price">
												<span class="rs-symbol">₹</span> <span class="price">869</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-xl-6">
									<div class="retail-price mt-2 mt-md-0">
												<i class="fas fa-undo-alt mr-1 text-muted"></i> <span class="text-warning font-weight-bold">Return</span>
												<span class="font-weight-bold">(Refund Issued)</span>
									</div>
								
									</div>
										<div class="dropdown">
										<i class="cursor-pointer fas fa-ellipsis-v fa-2x text-light" id="card-menu5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
										<div class="dropdown-menu dropdown-menu-right shadow-lg" aria-labelledby="card-menu5">
										      <button class="dropdown-item" type="button">Track Item</button>
										    <button class="dropdown-item" type="button">Cancel Item</button>
										    <button class="dropdown-item" type="button"> <a href="/kss/account/orders-details/" class="text-black">View Order Details</a></button>
										  </div>
										</div>
								</div>
						</li>
						<li class="p-md-3 p-2 mb-3 card shadow-sm">
							<div class="row primary-info">
								<div class="col-md-7 col-xl-6">
									<div class="product-img">
								           <div class="img" style="background-image: url({{"img/thumbnail/6front@thumb.jpg" | absURL}});"></div>
								    </div>
									<div class="product-detail">
										<div class="product-name text-truncate">
											Cotton Rich Super Skinny Fit Jeans
										</div>
										<div class="product-size text-muted mb-1">
											<span>Size: 2-4 years</span> <span>|</span> <span>Qty: 2</span>
										</div>
										<div class="product-price">
											<div class="retail-price">
												<span class="rs-symbol">₹</span> <span class="price">869</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-xl-6">
									<div class="retail-price mt-2 mt-md-0">
											<i class="cursor-pointer far fa-times-circle mr-1 text-muted"></i><span class="text-danger font-weight-bold">Cancelled</span>
												<span class="font-weight-bold">(Sept 17, 2018)</span>
									</div>
									</div>
										<div class="dropdown">
										<i class="fas fa-ellipsis-v fa-2x text-light" id="card-menu6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
										<div class="dropdown-menu dropdown-menu-right shadow-lg" aria-labelledby="card-menu6">
										    <button class="dropdown-item" type="button"> <a href="/kss/account/orders-details-cancelled/" class="text-black">View Order Details</a></button>
										  </div>
										</div>

								</div>
						</li>
						<li class="p-md-3 p-2 mb-3 card shadow-sm ">
								<div class="row primary-info">
								<div class="col-md-7 col-xl-6">
									<div class="product-img">
								           <div class="img" style="background-image: url({{"img/thumbnail/6front@thumb.jpg" | absURL}});"></div>
								    </div>
									<div class="product-detail">
										<div class="product-name text-truncate">
											Cotton Rich Super Skinny Fit Jeans
										</div>
										<div class="product-size text-muted mb-1">
											<span>Size: 2-4 years</span> <span>|</span> <span>Qty: 2</span>
										</div>
										<div class="product-price">
											<div class="retail-price">
												<span class="rs-symbol">₹</span> <span class="price">869</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-xl-6">
									<div class="retail-price mt-2 mt-md-0">
												<i class="far fa-check-circle mr-1 text-muted"></i> <span class="text-success font-weight-bold">Delivered</span>
												<span class="font-weight-bold">(Sept 17, 2018)</span>
									</div>
								
									</div>
										<div class="dropdown">
										<i class="cursor-pointer fas fa-ellipsis-v fa-2x text-light" id="card-menu7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
										<div class="dropdown-menu dropdown-menu-right shadow-lg" aria-labelledby="card-menu7">
											 <button class="dropdown-item" type="button"> <a href="#">Write Product Review</a></button>
											 <button class="dropdown-item" type="button"> <a href="#">Return or Replace Item</a></button>
										    <button class="dropdown-item" type="button"> <a href="/kss/account/orders-details-delivered/" class="text-black">View Order Details</a></button>
										  </div>
										</div>

								</div>

						</li>
					</ul>
					<hr class="mb-5">

					<h6 class="font-weight-bold mt-4">Order No. #ABCD-2134E-PQRS-02 </h6>
					<h6 class="mb-3">Placed on 20 Aug 2018  </h6>
					<!-- COD Cash On Delivery UI-->
					<ul class="cd-cart-items list-unstyled">
					<li class="p-md-3 p-2 mb-3 card shadow-sm">
						<div class="row primary-info">
								<div class="col-md-7 col-xl-6">
									<div class="product-img">
								           <div class="img" style="background-image: url({{"img/thumbnail/6front@thumb.jpg" | absURL}});"></div>
								    </div>
									<div class="product-detail">
										<div class="product-name text-truncate">
											Cotton Rich Super Skinny Fit Jeans
										</div>
										<div class="product-size text-muted mb-1">
											<span>Size: 2-4 years</span> <span>|</span> <span>Qty: 2</span>
										</div>
										<div class="product-price">
											<div class="retail-price">
												<span class="rs-symbol">₹</span> <span class="price">869</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-xl-6">
									<div class="retail-price mt-2 mt-md-0 ">
											<i class="fas fa-inbox mr-1 text-muted"></i><span class="text-success font-weight-bold">In Transit</span>
												<span class="font-weight-bold">(Arriving 30 Aug)</span>
									</div>
								
									</div>
										<div class="dropdown">
										<i class=" cursor-pointer fas fa-ellipsis-v fa-2x text-light" id="card-menu15" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
										<div class="dropdown-menu dropdown-menu-right shadow-lg" aria-labelledby="card-menu15">
										      <button class="dropdown-item" type="button">Track Item</button>
										    <button class="dropdown-item cancel-trigger" type="button"  >Cancel Item</button>
										    <button class="dropdown-item" type="button"> <a href="/kss/account/orders-details-cod/" class="text-black" class="text-black">View Order Details</a></button>
										  </div>
										</div>
								</div>
						</li>
						</ul>

					<button type="button" class="btn btn-outline-dark btn-lg m-auto d-block">View Old Orders</button>
					<br>
				</div>
			</div>
		</div>
	</div>
	{{- partial "cancel-order.html" . -}}
{{ end }}