{{ define "main" }}
	<div class="container mt-5">
		<h1 class="kss-title text-secondary font-weight-bold mb-1">Account</h1>
		<h6 class="text-muted">Peter Smith</h6>
		<hr>

		<div class="row">
			<div class="col-sm-2 border-right">
				{{- partial "account_menu.html" . -}}
			</div>
			<div class="col-sm-10">
				<div class=" p-4">
					<h4>Orders</h4>
					<hr>

					<h6 class="font-weight-bold mb-2 text-dark">Order No. #ABCD-21343-PQRS-01 </h6>
					<ul class="cd-cart-items list-unstyled">
						<li class="p-3 mb-3 card shadow-sm cursor-pointer d-flex flex-row align-items-center justify-content-between">
							<div>
								<div class="primary-info d-flex">
									<div class="product-img">
										<div class="img" style="background-image: url({{"img/4front.jpg" | absURL}});"></div>
									</div>
									<div class="product-detail">
										<div class="product-name">
											Cotton Rich Super Skinny Fit Jeans
										</div>
										<div class="product-size text-muted mb-1">
											<span>Size: 2-4 years</span> <span>|</span> <span>Qty: 2</span>
										</div>
										<div class="product-price">
											<div class="retail-price">
												<span class="rs-symbol">₹</span> <span class="price">869</span>
											</div>
										</div>
									</div>
								</div>
								<div class="mt-2 small">
									<span class="font-weight-bold">Delivered</span> (Jun 02, 2018)
								</div>
							</div>
							<i class="fas fa-chevron-right fa-2x text-light"></i>
						</li>
						<li class="p-3 mb-3 card shadow-sm cursor-pointer d-flex flex-row align-items-center justify-content-between">
							<div>
								<div class="primary-info d-flex">
									<div class="product-img">
										<div class="img" style="background-image: url({{"img/4front.jpg" | absURL}});"></div>
									</div>
									<div class="product-detail">
										<div class="product-name">
											Cotton Rich Super Skinny Fit Jeans
										</div>
										<div class="product-size text-muted mb-1">
											<span>Size: 2-4 years</span> <span>|</span> <span>Qty: 1</span>
										</div>
										<div class="product-price">
											<div class="retail-price">
												<span class="rs-symbol">₹</span> <span class="price">869</span>
											</div>
										</div>
									</div>
								</div>
								<div class="mt-2 small">
									<span class="font-weight-bold text-danger">Cancelled</span> (Jun 01, 2018)
								</div>
							</div>
							<i class="fas fa-chevron-right fa-2x text-light"></i>
						</li>
					</ul>

					<hr class="my-5">

					<h6 class="font-weight-bold mb-2 text-dark">Order No. #ABCD-21343-PQRS-02 </h6>
					<ul class="cd-cart-items list-unstyled">
						<li class="p-3 mb-3 card shadow-sm cursor-pointer d-flex flex-row align-items-center justify-content-between">
							<div>
								<div class="primary-info d-flex">
									<div class="product-img">
										<div class="img" style="background-image: url({{"img/4front.jpg" | absURL}});"></div>
									</div>
									<div class="product-detail">
										<div class="product-name">
											Cotton Rich Super Skinny Fit Jeans
										</div>
										<div class="product-size text-muted mb-1">
											<span>Size: 2-4 years</span> <span>|</span> <span>Qty: 2</span>
										</div>
										<div class="product-price">
											<div class="retail-price">
												<span class="rs-symbol">₹</span> <span class="price">869</span>
											</div>
										</div>
									</div>
								</div>
								<div class="mt-2 small">
									<span class="font-weight-bold">Delivered</span> (Jun 02, 2018)
								</div>
							</div>
							<i class="fas fa-chevron-right fa-2x text-light"></i>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
{{ end }}