{{ define "main" }}
	<div class="container mt-3 ">
		<div class="d-none d-sm-block">
			   <nav aria-label="breadcrumb ">
                    <ol class="breadcrumb mb-1 bg-transparent p-0">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active"><a href="#">Accounts</a></li>
                    </ol>
                  </nav>
                 <h1 class="w-100 kss-title m-0 text-gray font-weight-bold ">
                   Account
                 </h1>
	
		<h6 class="text-muted mb-4">Tony Stark</h6>
	</div>

<hr class="m-0">
		<div class="row">
			<div class="col-sm-3 col-lg-2 border-right d-none d-md-block">
				{{- partial "account_menu.html" . -}}
			</div>
			<div class="col-sm-9 col-lg-10">
			
				<div class=" p-md-4 p-0">
						<div class="d-flex align-items-top">
		            <div class="pr-3 d-block d-md-none">
		            	<a href="/kss/account/overview/">
		              <h4  id="back-to-orders" class="m-0 font-weight-bold kss_highlight">
		                <img class="btn-back kss_highlight" src="{{"img/left-arrow.png" | absURL}}" style="width:20px;"/>
		              </h4>
		          </a>
		            </div>
		            <div class="">
		              <h4>My Wishlist <span class="text-muted "><strong>&#183;</strong>2 items</span></h4>
		            </div>
		          </div>
					<hr>

		  <div id="card-list" class="row">
            <div class="col-lg-4 col-md-6 mb-4 col-6  ">
              <div class="card h-100 product-card">
             
              <span class="badge badge-light kss_cross"><i class="fas fa-times"></i></span>
                <a href="/kss/product/" >
                  <div class="image oh loading loading-01">
                  <img data-src="{{"img/normal/bluefront@1x.jpg" | absURL}}" data-srcset="{{"img/normal/bluefront@1x.jpg" | absURL}} 1x, {{"img/2x/bluefront@2x.jpg" | absURL}} 2x" class="lazyload card-img-top" />
                  
                 </div>
                </a>
                <div class="card-body">
                  <a href="/kss/product/" class="text-dark">
                    <h5 class="card-title">
                      Cotton Rich Super Skinny Fit Jeans
                    </h5>
                  </a>
                  <div class="kss-price kss-price--smaller">₹869 <small class="kss-original-price text-muted">₹1309</small><span class="kss-discount text-danger">20% OFF</span></div>
                </div>
                 	<div class="cart-btn"><button type="button" class="btn btn-lg btn-outline-dark m-auto btn-block"><i class="fas fa-shopping-cart"></i>  Move To Cart</button></div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 col-6  ">
           	  <div class="card h-100 product-card">
           	 		  <span class="badge badge-light kss_cross"><i class="fas fa-times"></i></span>
                <a href="/kss/product/">
                   <div class="image oh loading loading-02">
                  <img data-src="{{"img/normal/orangefront@1x.jpg" | absURL}}" data-srcset="{{"img/normal/orangefront@1x.jpg" | absURL}} 1x, {{"img/2x/orangefront@2x.jpg" | absURL}} 2x" class="lazyload card-img-top" />
                 
                </div>
                </a>
                <div class="card-body">
                  <a href="/kss/product/" class="text-dark">
                    <h5 class="card-title">
                      Cotton Rich Super Skinny Fit Jeans
                    </h5>
                  </a>
                  <div class="kss-price kss-price--smaller">₹869 <small class="kss-original-price text-muted">₹1309</small><span class="kss-discount text-danger">20% OFF</span></div>
                </div>
                <div class="cart-btn"><button type="button" class="btn btn-lg btn-outline-dark m-auto btn-block"><i class="fas fa-shopping-cart"></i>  Move To Cart</button></div>
              </div>
            </div>

            
             
        </div>

				</div>
			</div>
		</div>
	</div>
{{ end }}